@charset "utf-8";
/* CSS Document */

.arrowlistmenu{ width: 100%;}

.main_accord {width:100%; margin-bottom:20px;}

.arrowlistmenu .menuheader {color:#343434; padding:10px 30px 10px 0; cursor:hand; cursor:pointer; font-size:14px; font-weight:500; background:url(../images/plus_minus.png) no-repeat right 10px top; margin-bottom:2px; text-align:left; text-transform:capitalize; border-bottom:1px solid #5b5b5b;}

.arrowlistmenu .openheader {background: url(../images/plus_minus.png) no-repeat right 10px bottom; color:#343434; text-transform: capitalize; margin-bottom:20px;}

.arrowlistmenu .accord_detail{padding-bottom: 0px;  height:auto; display:block; font-size:14px; text-align:justify; line-height:20px; padding:25px 15px; margin-top:-20px; margin-bottom:2px; border:1px solid #f5f5f5; background:#f5f5f5;}


@media all and (max-width:768px){
.main_accord, .arrowlistmenu .menuheader{margin-bottom:2px !important;}	
.arrowlistmenu .openheader {margin-bottom:10px!important;}
.arrowlistmenu .accord_detail{margin-top:-10px;}	
}
