
.resp-tabs-list {display:table; width:100%; margin-bottom:0; border-top:1px solid #e0e0e0;}

.resp-tabs-list li {
  font-weight: 600;
  font-size: 14px;
  display: table-cell;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  /*float: left;*/
 background-color: #fff;
 margin:0 3px 3px 0;
 text-align:center;
 color:#343434;
 position:relative;
 text-transform:uppercase;
}

.resp-tabs-list li:before {position:absolute; width:9px; height:9px; top:-45px; right:0; bottom:0; left:0; margin:auto; background:url(../images/zone_icon.png) no-repeat center;}

.resp-tabs-list li a {position:relative;}
.resp-tabs-list li a:after {position:absolute; right:50%; bottom:-3px; left:50%; width:0; height:3px; background:#0d1740; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; opacity:0;}
.resp-tabs-list li a:hover:after{left:0; right:0; width:100%; opacity:1; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}

 
.resp-tabs-list li a.border_next {width:100%;  position:relative;}

.resp-tabs-list li a.border_next:after {position:absolute; right:50%; bottom:-3px; left:0; width:100%; height:3px; background:#0d1740; opacity:1;}
 




.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

.resp-tabs-container p {line-height:28px;}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border: 1px solid #fff;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 12px 14px 14px 14px !important;
}




.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #fff; background:#fff;}

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #e0e0e0;
  border-top: 0px solid #e0e0e0;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #DBDBDB !important; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { /*display: table!important;*/ width:100%; }

h2.resp-accordion:first-child { border-top: 1px solid #e0e0e0 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
	
	
	
	.resp-tab-content {
    border: 1px solid #e0e0e0;
}

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; text-transform:uppercase;}

.resp-vtabs .resp-tab-content { border: 1px solid #fff; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

h2.resp-tab-active {
    background: #feed01 !important;
	color:#000;
}
h2.resp-tab-active span.resp-arrow {border-bottom:12px solid #000;}
.resp-tabs-container p {line-height:25px; font-size:12px; text-align:left;}

    .office_address_txt:hover {box-shadow:none;}
}
