﻿@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800|Roboto:100,300,400,500,700,900');
@font-face {
    font-family: 'aharonibold';
    src: url('../fonts/ahronbd-webfont.woff2') format('woff2'),
         url('../fonts/ahronbd-webfont.woff') format('woff'),
         url('../fonts/ahronbd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 

}
* {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

*:after, *:before {content:"";}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {width:6px; background-color:#fff;}
::-webkit-scrollbar-thumb {background-color:#bababa; border-radius:3px;}
::selection {background:#0d1740;color:#fff;}
::-moz-selection {background:#241904; color:#fffcf6;}

body {width:100%; margin:0; padding:0; box-sizing:border-box; font-family:"Roboto", sans-serif;}
ul, li {list-style:none; padding:0;}
a, a:focus, a:hover {color:inherit; text-decoration:none; outline:none; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out;
-o-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out;}
.fade_anim {-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.btn:focus {outline:0 !important; outline-offset:inherit; box-shadow:none;}
h1 {margin:0;}
.no_padding {padding:0;}
p {margin:0;}
.form-control::-webkit-input-placeholder {color:#aaaaaa;}
.form-control::-moz-placeholder {color:#aaaaaa;}
.form-control:-ms-input-placeholder {color: #aaaaaa;}
.form-control:-moz-placeholder {color:#aaaaaa;}
.img-responsive {width:100%; display:block;}
.back-to-top {width:35px; height:35px; line-height:35px; cursor:pointer; position:fixed; bottom:20px; right:20px; display:none; background:#fff200; color:#000; border:0; text-align:center; border-radius:0; z-index:100;}
.back-to-top a {display:inline;}
.back-to-top:before {content:'\f077'; font-family:'FontAwesome'; position:absolute; top:0; left:0; bottom:0; right:0; display:block;}
.back-to-top:active, .back-to-top:focus, .back-to-top:hover {background:#0d1740!important; color:#fff;}


/*.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width:auto;
}

        .modal-content {
        padding:15px 20px; border-radius:0;}

            .modal-content h4 {
            color:#0d1740; font-size:16px; line-height:24px;}

        .modal-body {
        padding:0;}

            .modal-body ol {
            margin-bottom:0; padding-left:15px;}

            .modal-body ol li {
            margin-bottom:10px; list-style:inherit; color:#000;}

       .modal-btn {
    display: block;
    background: #0d1740;
    color: #fff;
    border:0;
        padding: 8px 25px;
        margin:0 auto;
        }

        .modal-btn:hover {background:#fff200; color:#0d1740; border:0;
        }*/



header {background:#0d1740; margin:0 auto; width:100%; padding:10px 0;}
.wrapper {width:90%; margin:0 auto; position:relative;}
.wrapper .logo {width:220px;}

.header_content_left .data {width:auto; color:#fff; font-size:14px; font-weight:500; margin:30px 0 0 20px;}
.head_search_wrp  {position:relative; margin-top:-5px;}
 .head_search_wrp .form-control {outline:0; margin-bottom:0; border-radius:0; border:none; background:none; border:1px solid #fff; color:#fff; position:relative; padding-right:40px;}
.head_search_wrp sPAN {background:#fff200; display:inline-block; width:35px; height:35px; line-height:35px; position:absolute; right:0; top:0; color:#000;cursor:pointer;}
 .head_search_wrp sPAN:hover {background:#fff;}
.head_search_wrp .form-control::-webkit-input-placeholder {color:#fff;}
 .head_search_wrp .form-control::-moz-placeholder {color:#fff;}
 .head_search_wrp .form-control:-ms-input-placeholder {color:#fff;}
 .head_search_wrp .form-control:-moz-placeholder {color:#fff;}
.head_search_wrp .form-control:focus {outline:0; box-shadow:none; border:1px solid #fff;}
.header_content_left .data:first-child {margin-left:0;}
.header_content_left .rate {background:#fff; color:#000; margin-top:18px; font-size:14px; display:none;}
.header_content_left .rate ul {display:table; margin-bottom:0;}
.header_content_left .rate ul li {display:table-cell; padding:10px;}
.header_content_left .rate ul li sPAN {margin:0 5px; display:inline-block; vertical-align:inherit;}
.header_content_left .rate ul li sPAN img {display:block;}
.header_content_left .data a {font-size:18px; display:inline-block; width:30px; height:30px; text-align:center; /*line-height:30px;*/ vertical-align:middle;}
.header_content_left .data a:hover {font-size:22px; }
.mobile_search {display:none;}

.menu_wrp {width:100%; padding:0 5%;-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1); -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1); box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);}
.menu_wrp .mobile_social {display:none;}
.menu_wrp .mobile_call {display:none;}

.fixed-menu {position:fixed; top:0; left:0; width:100%; padding:0 5%!important; background:#fff; -webkit-box-shadow: 0px 2px 27px -9px rgba(0,0,0,0.53);
-moz-box-shadow: 0px 2px 27px -9px rgba(0,0,0,0.53);
box-shadow: 0px 2px 27px -9px rgba(0,0,0,0.53);}

.banner_wrp {margin-bottom:65px; overflow-x: hidden; position:relative;}
.banner_wrp .banner_content {position:relative; display:table; width:100%;}
.banner_wrp .banner_content img {width:100%;}
.banner_wrp .banner_content .banner_txt {width:auto; position:absolute; top:35%; left:0; color:#fff; display:table-cell; vertical-align:middle; font-size:30px; text-transform:uppercase; /*font-weight:700;*/ opacity:0; -webkit-transition:all 0.3s ease-in-out 0.8s; -moz-transition:all 0.3s ease-in-out 0.8s; -o-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out 0.8s; font-family: 'aharonibold';}
.banner_wrp .slick-active .banner_txt {opacity:1; left:5%;}
.banner_wrp .slick-active .banner_txt .break {display:block;}
.banner_wrp .banner_content .banner_txt sPAN {color:#f3ec1e;}
.banner_wrp .banner_content .banner_txt a {font-size:14px; display:table; text-transform:uppercase; background:#fff200; height:35px; line-height:35px; padding:0 16px; margin-top:20px; color:#010101; border-radius:0px; font-family:"Roboto", sans-serif;}
.banner_wrp .banner_content .banner_txt a:hover {background:#fff;}
.banner_wrp .slick-dots {position:absolute; bottom:5%; left:0; display:block; width:100%; padding:0; margin:0; list-style:none; text-align:center;}
.banner_wrp .slick-dots li {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  border-radius: 100%;
}
.banner_wrp .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  background: none;
  width: 12px;
  height: 20px;
  width: 12px;
  height: 12px;
  color: transparent;
  border: 0;
  border-radius: 100%;
  outline: none;
  color: transparent;
  border:2px solid #fff;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  background: none;
  border-radius: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.track_form {width:36%;position:absolute;top:10%;right:5%;z-index:1;border:1px solid #fff;box-sizing:  border-box;}
.track_form .nav-tabs {background: #f1f1f1;display: table;width: 100%;margin: 0;/* border-bottom:0; *//* border: 1px solid #fff; */border-bottom: 0; padding-left:5px;}
.track_form .nav-tabs li {padding: 15px 25px;display: table-cell;position: relative;}
.track_form .nav-tabs li:before {content: "|";position: absolute;right: 0;display: block;color: #000;font-size: 16px;}
.track_form .nav-tabs li:last-child:before {display: none;}
.track_form .nav-tabs li a {margin-right: 0;text-transform: uppercase;border: none;font-size: 16px;color: #1e1e1e;font-weight: 500;}
.track_form .nav-tabs > li.active > a, .track_form .nav-tabs > li.active > a:focus, .track_form.nav-tabs > li.active > a:hover {background: none;font-weight: 700;border: none !important;color: #1e1e1e;}
.track_form .tab-content {background: rgba(255, 255, 255, 0.5);padding: 30px 30px 0 30px;/* border: 1px solid #fff; */border-top: none;}
.track_form .tab-content #quote_us .door_delivery {display:none;}
.track_form .tab-content .form-control {outline:none; display:block; background:#fff; color:#aaaaaa; border:1px solid #cacaca; border-radius:0px; font-size:15px; height:40px; line-height:40px; box-shadow: none;}
.track_form .tab-content .form-control:focus {box-shadow:none;}
.track_form .tab-content .btn-default {color:#010101; font-size:15px; height:100%; border:none;}
.track_form .tab-content .btn-default:hover,.btn-default:focus {background:#fff; border:none;}
.btn-group.open .dropdown-toggle {box-shadow:none;}
.dropdown-menu {border-top:none;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {background:#fff200; color:#000;}
.track_form .tab-content .radio{padding-left:40px; margin:0;}
.track_form .tab-content .checkbox {padding-left:40px; margin:0;}
.track_form .tab-content .btn-primary {width:88px; height:35px; text-transform:uppercase; border:0; background:#0d1740; color:#fff; border-radius:0px; margin-top:15px; display:inline-block; vertical-align:top;}
.track_form .tab-content .btn-primary:hover {background:#fff200; color:#010101;}
.pod {text-align:center;line-height:35px;padding: 0 18px;width: auto!important; cursor:pointer;}
.select_dropdown_height .dropdown-menu {height:200px!important;}

.service_wrp {
  height: auto;
  margin-bottom: 90px;
}
.service_wrp .service_box {
  width: 100%;
  border: 1px solid #d4d4d4; /*height:410px;*/
  overflow: hidden;
  position: relative;
}
.service_wrp .service_box img {
  width: 100%;
  display: block;
}
.service_wrp .service_box .service_logo {position:relative; top:0; left:0; width:100%; height:auto; margin:0 auto; /*padding:0 20px;*/}
/*.service_wrp .service_box .service_logo img {width:auto; max-width:none!important; margin-left:-32px;}*/
.service_wrp .service_box .violet {background: #58068b;} 
.service_wrp .service_box .red {background: #cb0001;} 
.service_wrp .service_box .navy_blue {background: #01007f;} 
.service_wrp .service_box .dark_blue {background: #012061;} 

.service_wrp .service_box .service_box_content {
  position: absolute;
  bottom: -180px;
  left: 0;
  width: 100%;
  height: 180px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  padding: 20px;
   font-family: 'Raleway', sans-serif;
}
.service_wrp .service_box:hover .service_box_content {
  bottom: 0;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.service_wrp .service_box_content .service_box_content_head {
  width: 100%;
  height: 30px;
  font-weight: 700;
  color: #fff;
  position: relative;
}
.service_wrp .service_box_content .service_box_content_head h1 {font-size:15px; font-family:'Raleway', sans-serif; font-weight:700; text-transform:uppercase;margin-left: -20px;}

.service_wrp .service_box_content .service_box_content_head:before {
  width: 43px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
}
.service_wrp .service_box_content .service_box_content_text {
  width: 100%;
  height: 80px;
  padding: 20px 0;
  overflow: hidden;
 
  font-weight:500;
}
.service_wrp .service_box_content a {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 13px;
  font-weight: 500;
}
.service_box_pic_wrp {width:100%; /*margin-top:85px;*/}

.service_wrp .service_box_content a span {font-size:16px; font-weight:400; font-family: "Roboto", sans-serif; display:inline-block;}
.service_wrp .service_box_content a span img {width:auto; display:block;}

.welcome_note {font-size:40px; text-transform:uppercase; font-weight:700; color:#001642; position:relative; margin-bottom:90px}
.welcome_note .fade_style {
  display: inline;
}
.welcome_note:before {width: 59px;height: 34px;position:absolute;top: 5px;left:10%;background:url(../images/open_coma.png) no-repeat center; background-size:100%; display:none;}
.welcome_note:after {width: 59px;height: 34px;position:absolute;top: 5px;right:10%;background:url(../images/close_coma.png) no-repeat center; background-size:100%; display:none;}
.welcome_note span {display:inline; font-style:italic; text-transform:none; font-family: 'aharonibold'; font-size:35px; }

/*.welcome_note img {width:100%; width:4%;}
.welcome_note img.open_cl {margin-right:40px;}
.welcome_note img.close_cl {margin-left:40px;}*/

.welcome_note_content {display:inline-block; position:relative; padding:0 100px; }

     .welcome_note_content .coma {
     
        font-family: 'aharonibold';
       font-size:150px;
     position:absolute;
     top:-70px;
 vertical-align:top;
 font-style:normal;
     
    }
    
    
      .welcome_note_content .open_cl {left:0;}
      
         .welcome_note_content .close_cl {right:0;}
         

.wheel_wrp {
  margin-bottom: 220px;
  position: relative;
}
.title {
  margin-bottom: 40px;
}
.title h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: #001642;
}
.wheel_content {position:relative;/* background:#03F; */}
.wheel_content .wheel.go {
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: block;
  opacity: 1; animation: box 1s linear; -webkit-animation: box 1s linear; -moz-animation: box 1s linear; -ms-animation: box 1s linear; -o-animation: box 1s linear;
}

.wheel_content .wheel.go img {
  width: 100%;
  display: block;
}
@keyframes box {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wheel {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wheel_wrp .box_one {background:red; position:absolute; top:15%; left:32%;}
.wheel_wrp .box_two {background:red; position:absolute; top:62%; left:28%;}
.wheel_wrp .box_three {background:red;position:absolute;bottom: 0;left:38%;}
.wheel_wrp .box_four {background:red;position:absolute;top: 17%;right:32%;}
.wheel_wrp .box_five {background:red;position:absolute;top:62%;right:29%;}
.wheel_wrp .box_six {background:red;position:absolute;bottom: 0;right:39%;}

.footer_wrp {background:#0d1740; color:#fff; padding:30px 0;}
.footer_box_1 {padding-top:20px; padding-bottom:30px; border-bottom:1px solid #2d3450;}
.footer_box_1 .foot_head {height:25px; margin-bottom:15px; font-size:15px; font-weight:700; text-transform:uppercase; position:relative; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition:all 0.3s ease-in-out;}
.footer_box_1 .foot_head i {display:none; color:#fff; font-weight:300!important; margin-right:10px;}
.foot_about p {line-height:25px; text-align:justify;}
.footer_box_1 .foot_head:before {width:30px;height:1px;background: #2d3450;position: absolute;bottom: 0;left: 0;}
.footer_box_1 .foot_head:after {width:0; height:1px; background:#fff200; position:absolute; bottom:0; left:0; opacity:0; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}

.footer_wrp .copyright {color:#fff;}

.footer_box_1 .yellow_line:hover .foot_head:after {opacity:1; width:80%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.footer_box_1 .yellow_line:hover .about_foot_head:after {width:100%;}

.footer_box_1 ul li {margin-bottom: 7px;text-transform: capitalize;}
.footer_box_1 ul li a:hover {color: #fff200;}
.footer_wrp .footer_box_2 {padding: 20px 0;}
.footer_wrp .foot_link {color:#444c6b; text-align:right;}
    .footer_wrp .foot_link a {
    margin-right:10px;}
        .footer_wrp .foot_link a:last-child {
        margin-right:0;}
/*.footer_wrp .foot_link a:hover {color:#fff;}*/
.footer_wrp .foot_link ul {display:table; margin-left:20%; color:#fff;}
.footer_wrp .foot_link ul li {display:table-cell; padding:0 20px; position:relative;}
.footer_wrp .foot_link ul li:before {content:'|'; position:absolute; right:0; color:#444c6b; font-size:14px;}
.footer_wrp .foot_link ul li:last-child:before {display:none;}

.banner_below_txt {
    color: #0d1740;
  
    margin-bottom:60px;
    text-transform:uppercase;
    font-size:30px;
    line-height:55px;
}
    .banner_below_txt span {
         font-size:34px;
    }
    .banner_below_txt sup {text-transform:capitalize;}
    
     .note{padding: 15px 5px 15px 32px; color: #000;background: #f1f1f1;margin: 30px -31px -31px -31px; font-size:12px; line-height:20px;}
        /*.note p {
        font-size:11px;}*/

        .note ol {
        margin-bottom:0;}

            .note ol li {
            display:block; margin-right:30px; list-style:inherit; font-size:10px;}
                .note ol li:last-child {
                margin-bottom:0;}
         
/* media css */

@media all and (max-width:1235px) 
{
.social {position: absolute; right:0; top:-33px; margin-bottom:20px;}
.social a {font-size:15px!important;}
}

@media all and (max-width:1200px) 
{
.track_form {position:relative; left:0; top:0; width:90%; margin:0 auto 0 auto; background:#f1f1f1; border:1px solid #eee;}
.track_form .nav-tabs {width:auto; margin:0 auto;}
.track_form .tab-content {background:#fff; border:0;}
/*.select_box {width:33%; display:inline-block;}*/
.select_box:last-child {margin-right:0;}
.gc_no {width:30%; margin:0 auto;}
.gc_no .btn-primary {margin:0 auto; display:block;}
.note {padding:5px 30px; text-align:center;
    }
    
    .banner_below_txt {margin-top:80px;}
}

@media all and (max-width:1100px)
{
header {border-bottom:1px solid #fff;}
.wrapper {width:95%;}

.header_content_left .data {margin-left:50px;}

/*.banner_wrp {margin-bottom:30px;}*/
.banner_wrp .slick-active .banner_txt {left:3%;}
.banner_wrp .slick-dots {left:3%;}

.service_wrp {margin-bottom:50px;}

.welcome_note {font-size:35px; margin-bottom:80px;}
.welcome_note:before {width:40px; height:40px; left:5%; top:0;}
.welcome_note:after {width:40px; height:40px; right:5%; top:0;}

.wheel_wrp {margin-bottom:200px;}

.track_form {width:80%;}
}


@media only screen and (max-width:1002px) 
{
#myHeader {position:fixed; top:0; left:0; width:100%; z-index:100;}
section {margin-top: 80px;}
header {padding-top: 15px;}
header .wrapper {width:100%!important;}
.header_content_left {position:absolute; top:-40px; left:0; width:100%; background:#f1f1f1; z-index:100; -webkit-box-shadow: 0px 2px 27px -9px rgba(0,0,0,0.53); -moz-box-shadow: 0px 2px 27px -9px rgba(0,0,0,0.53); box-shadow: 0px 2px 27px -9px rgba(0,0,0,0.53);}
.header_content_left .data{display:none;}
.header_content_left .rate {display:none; margin-top:0; background:#f1f1f1; width:100%;}
.header_content_left .rate ul {margin:0 auto;}
.header_content_left .rate ul li {padding:5px 10px;}
.mobile_call a {display:inline;}
.mobile_social {display:block !important;}
.mobile_social a {display: inline!important ;margin:0 10px; font-size: 20px;color:#fff;}
.mobile_social a:hover {display: inline;color: #fff200;}
.mobile_call {display: block !important;font-size: 14px;color: #fff;}
.menu_wrp {margin-top:0;}
.banner_wrp .slick-active .banner_txt .break {display:inline-block!important;}
.mobile_search {display:block; width:50%; margin:10px auto 0 auto; }


.wrapper .logo {width:135px; margin-left:20px;}
.wrapper .logo img {width:100%; display:block;}

}

@media all and (max-width:991px) {
.wrapper {width:100%;}

.wrapper .logo {width:135px; margin-left:20px;}
.wrapper .logo img {width:100%; display:block;}

    .banner_wrp {
        margin-bottom:50px;
    }
.banner_wrp .banner_content .banner_txt {font-size:22px;}

.gc_no {width:50%;}

    .banner_below_txt {margin-bottom:50px; margin-top:70px;
    }

.service_wrp {margin-bottom:25px;}
.service_wrp .service_box {margin-bottom:30px;}
.service_wrp .service_box .service_box_content {bottom:0;}

.welcome_note {font-size:25px;}
.welcome_note_content {padding:0 50px; }
.welcome_note_content .coma {font-size:80px; top:-35px;}
/*.welcome_note:before {width:30px; height:30px; left:10%;}*/
/*.welcome_note:after {width:30px; height:30px; right:10%;}*/

.foot_about {margin-bottom:20px;}
.footer_wrp .copyright {width:100%; float:none; text-align:center;}
.footer_wrp .foot_link ul {width:50%; float:none!important; text-align:center; margin:10px auto;}
.footer_wrp .foot_link ul li {display:inline-block; padding:0 10px;}
    .footer_wrp .foot_link {
    text-align:center;margin-top:10px;}
.footer_wrp .foot_link a {width:100%; float:none!important;  display:inline;}


}

@media all and (max-width:850px) 
{
/*.track_form {position:relative; top:0; right:0; width:93%; margin:0 auto; border:1px solid #eee; } */
.select_box {width:100%;}
.banner_below_txt {margin-top:75px; margin-bottom:50px;}


.banner_below_txt span {
    font-size:25px;}
    .banner_below_txt {
    font-size:22px; line-height:45px;}
}

@media all and (max-width: 767px) {
.banner_wrp .banner_content .banner_txt {font-size:14px; top:30%;}
.banner_wrp .slick-active .banner_txt {left:3%;}
.banner_wrp .banner_content .banner_txt a {height: 15px; line-height: 15px; margin-top: 10px; font-size: 12px; padding: 5px 8px;}
.banner_wrp .slick-dots {bottom:5%; left:0%;}
.banner_wrp .slick-dots li {width:10px; height:10px;}
.banner_wrp .slick-dots li button {width:10px; height:10px;}
.banner_wrp .slick-dots li button:before {width:10px; height:10px;}

.gc_no {width:100%;}
.gc_no .btn-primary {margin:0;}

.track_form .nav-tabs li {padding:12px 20px;}
.track_form .nav-tabs li a {font-size:14px;}
.track_form .tab-content {padding:15px;}
.track_form .tab-content .btn-primary {width:70px; height:35px;}

.welcome_note {font-size:22px;}
.welcome_note:before {left:8%;}
.welcome_note:after {right:8%;}
.welcome_note_content {padding:0 30px;}

.welcome_note_content .coma {font-size:50px; top:-20px;}
    

.footer_box_1 .foot_head {height:35px; line-height:35px; font-weight:normal;}
.footer_box_1 .foot_head i {display:inline-block; line-height:40px; float:right;}
.footer_box_1 .foot_head:before {width:100%; /* background: #2d3450; */}
.footer_box_1 .support:before {display:none;}
.footer_box_1 .yellow_line:hover .foot_head:after {display:none;}

 .note {margin: 16px -16px -16px -16px; text-align: left;
    padding: 5px 15px; font-size:12px;}   
    
    
    .banner_below_txt {margin-top:45px; font-size:20px;}
    
    

        .banner_below_txt span {
            font-size: 22px;
        }
        
        
        .welcome_note img.open_cl {margin-right:25px;}
.welcome_note img.close_cl {margin-left:25px;}
}

@media all and (max-width: 600px) 
{
.banner_wrp .banner_content .banner_txt {font-size:15px;}

.welcome_note {font-size:15px; margin-bottom:40px;}
        .welcome_note:before {width:15px; height:15px; left:25px;}
        .welcome_note:after {width:15px; height:15px; right:25px;}


.welcome_note_content .coma {font-size:50px; top:-22px;}

.track_form {width:90%;}
 .banner_below_txt {
        font-size: 14px;
        line-height: 30px;
        margin-top:30px;
        margin-bottom:30px;
    }

        .banner_below_txt span {
            font-size: 16px;
        }
        
               .welcome_note img.open_cl {margin-right:15px;}
.welcome_note img.close_cl {margin-left:15px;}

}

@media all and (max-width:520px) 
{
.wrapper .logo {/* width:170px; */}

/*.nav-button {top:50px;}*/

.service_box_wrp {width:100%;}

/*.welcome_note {font-size: 20px;font-weight:700;line-height: 40px;}*/


.footer_wrp .foot_link ul {width:100%;}
/*.banner_below_txt{font-size:15px; line-height:26px;}
.banner_below_txt span{font-size:17px; }*/
}
@media all and (max-width:500px) {
   /* .banner_below_txt {
        font-size: 22px;
        line-height: 35px;
    }

        .banner_below_txt span {
            font-size: 22px;
        }*/
        
        .welcome_note:before {display:none;}
        .welcome_note:after {display:none;  }
                       .welcome_note img.open_cl {margin-right:5px;}
.welcome_note img.close_cl {margin-left:5px;}

 .welcome_note .coma {font-size:50px;}
}
@media all and (max-width:400px) 
{

/*.nav-button {top:45px;}*/

.wrapper {width:100%;}

.banner_wrp .banner_content .banner_txt {font-size:12px;}

.track_form .tab-content .btn-primary {height:30px;}

.service_wrp .service_box {margin-bottom:15px;}

.welcome_note {font-size:15px;}
.welcome_note:before { left:0px;}
.welcome_note:after { right:0px;}


.banner_below_txt {
        font-size: 12px;
        line-height: 28px;
    }

        .banner_below_txt span {
            font-size: 13px;
        }
   
}

@media all and (max-width:360px) 
{
.welcome_note {font-size:15px; line-height:30px;}

.banner_below_txt {
        font-size: 10px;
        line-height: 25px;
    }

        .banner_below_txt span {
            font-size: 12px;
        }
        
        .welcome_note img {display:none;}
}


@media all and (max-width:360px) 
{
.welcome_note:before {display:none;}
.welcome_note:after {display:none;}
}
