﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="HouseOfPatel.master.cs" Inherits="HouseOfPatel" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%--<title>Welcome To House Of Patel</title>--%>
    <link rel="shortcut icon" href="images/fav_icon.png" />
    <!-- css starts -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/nav-layout.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/inner_page.css">
    <link href="css/easy-responsive-tabs.css" rel="stylesheet" />

    <script src="js/easy-responsive-tabs.js"></script>
 

    <!-- css ends -->

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <header id="myHeader">

        <div class="container-fluid no_padding">

            <div class="row wrapper top_box">

                <div class="logo pull-left">
                    <a href="index.aspx">
                        <img src="images/logo.png" title="Patel Integrated Logistics Ltd." class="logo_on img-responsive">
                    </a>
                </div>

                <div class="header_content_left pull-right">

                    <div class="data pull-left rate">
                        <ul>
                            <li>NSE <span>
                                <img src="images/green_arrow.png" alt=""></span>816.95</li>
                            <li>BSE <span>
                                <img src="images/green_arrow.png" alt=""></span>816.95</li>
                        </ul>
                    </div>

                    <div class="data pull-left" style="margin-top: 31px;"><i class="fa fa-volume-control-phone" aria-hidden="true" style="margin-right: 10px;"></i>1800 22 3666</div>

                    <div class="data pull-left social">

                        <a href="https://www.facebook.com/PatelIntegratedLogistics/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/PatelIntegrated" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/company/patel-integrated-logistics/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/channel/UClBowcRqT2UUqDBAjk6NycQ" target="_blank" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/u/1/104380753397682066917" target="_blank" title="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/patelintegratedlogistics/" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                    </div>

                    <div class="data pull-left">

                        <div class="head_search_wrp">

                            <input type="text" id="txtSearch" placeholder="Search" class="form-control clsSearch" /><span class="text-center fade_anim" onclick="SearchKeyword()"><i class="fa fa-search" aria-hidden="true"></i></span>


                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

            </div>

        </div>

    </header>
    <!-- #BeginLibraryItem "/Library/menu.lbi" -->

    <div class="menu_wrp">

        <a href="#" class="nav-button"></a>

        <nav class="nav">

            <ul class="navigation">

                <li><a href="about_us.aspx">ABOUT US</a></li>

                <li><a href="location.aspx">LOCATIONS</a></li>

                <li class="nav-submenu"><a href="#">OUR SERVICES</a>
                    <ul>
                        <li><a href="patel_roadways.aspx">PATEL ROADWAYS</a></li>
                        <li><a href="patel_express.aspx">PATEL EXPRESS</a></li>
                        <li><a href="patel_airfreight.aspx">PATEL AIRFREIGHT</a></li>
                        <li><a href="patel_warehouse.aspx">PATEL WAREHOUSE</a></li>
                        <%--<li><a href="one_capital_ltd.aspx">ONE CAPITAL LTD</a></li>--%>
                    </ul>
                </li>

                <li><a href="careers.aspx">CAREERS</a></li>

                <li class="nav-submenu"><a href="#">INVESTOR RELATION</a>
                    <ul>
                        <li class="nav-submenu"><a href="#">INVESTOR INFORMATION</a>
                            <ul>
                                <li><a href="share_holding_pattern.aspx">SHARE HOLDING PATTERN</a></li>
                                <li><a href="quaterly_result.aspx">QUARTERLY RESULTS</a></li>
                                <li><a href="annual_reports.aspx">ANNUAL REPORTS</a></li>
                                <li><a href="corporate_announcement.aspx">CORPORATE ANNOUNCEMENTS</a></li>
                                <li><a href="images/pdf/Chairman_speech.pdf" target="_blank">CHAIRMAN SPEECH</a></li>
                                <li><a href="unclaimed_dividend.aspx">UNCLAIMED DIVIDEND</a></li>
                                <li><a href="images/pdf/Fixed Deposit.pdf" target="_blank">FIXED DEPOSIT</a></li>
                                <li><a href="iepf.aspx">IEPF</a></li>

                            </ul>
                        </li>
                        <li><a href="contacts_for_investor.aspx">CONTACTS FOR INVESTOR</a></li>
                        <li><a href="images/pdf/CodeofConduct.pdf" target="_blank">CODE OF CONDUCT</a></li>
                        <li class="nav-submenu"><a href="#">INSIDER TRADING CODE</a>
                            <ul>
                                <li><a href="images/pdf/PILL-Code-of-Conduct-for-Insider-Trading.pdf" target="_blank">PILL CODE OF CONDUCT FOR INSIDER TRADING</a></li>
                                <li><a href="images/pdf/PILL-Code-of-Fair-Disclosure.pdf" target="_blank">PILL CODE OF FAIR DISCLOSURE</a></li>
                            </ul>
                        </li>
                        <li><a href="images/pdf/NoticeoftheClosureofTradingWindow_n.pdf" target="_blank">CLOSURE OF TRADING WINDOW</a></li>
                        
                    </ul>
                </li>

                <li class="nav-submenu"><a href="#">CSR</a>
                    
                    <ul>
                        <li><a href="csr.aspx"> CORPORATE SOCIAL RESPONSIBILITY </a> </li>
                         <li><a href="images/pdf/csr_policy.pdf" target="_blank">PATEL CSR POLICY  </a> </li>
                    </ul>

                </li>

                <li><a href="media_news_center.aspx">MEDIA & NEWS CENTRE</a></li>

                    <!--<ul>
                    <li><a href="#">PRESS COVERAGE</a></li>
                    <li><a href="#">EVENTS</a></li>
                    <li><a href="#">RECENT NEWS</a></li>
                </ul>-->

                

                <li><a href="contact_us.aspx">CONTACT US</a></li>

            </ul>

            <div class="text-center mobile_call"><i class="fa fa-volume-control-phone" aria-hidden="true" style="margin-right: 10px;"></i>1800 22 3666</div>

            <div class="text-center mobile_social">
                <%--      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>--%>


                <a href="https://www.facebook.com/PatelIntegratedLogistics/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/PatelIntegrated" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/company/patel-integrated-logistics/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UClBowcRqT2UUqDBAjk6NycQ" target="_blank" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="https://plus.google.com/u/1/104380753397682066917" target="_blank" title="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/patelintegratedlogistics/" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>



            </div>

            <div class="head_search_wrp mobile_search">
                <%--                <input type="text" placeholder="Search" class="form-control clsSearch"><span class="text-center fade_anim" onclick="SearchKeyword()"><i class="fa fa-search" aria-hidden="true"></i></span>--%>

                <input type="text" id="txtMobSearch" placeholder="Search" class="form-control clsSearch" /><span class="text-center fade_anim" onclick="MobSearchKeyword()"><i class="fa fa-search" aria-hidden="true"></i></span>

            </div>
        </nav>

    </div>

    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    <footer>

        <div class="container-fluid footer_wrp">

            <div class="row wrapper">

                <div class="col-xs-12 footer_box_1">

                    <div class="col-md-5 col-sm-12 no_padding foot_about yellow_line">

                        <div class="foot_head about_foot_head">About Us <i class="fa fa-angle-down" aria-hidden="true"></i></div>

                        <p class="foot_dropdown">Started as a ‘One man’ ‘One truck’ company Est. 1959; Inc. 1962. PATEL is a trusted name in the world of logistics. One of the pioneers of logistics in India. An ISO 9001:2008 company listed with premier stock exchanges like the National Stock Exchange and Bombay Stock Exchange. Today, PATEL has a well deserved reputation for strong business values, quality services & unflagging corporate excellence.</p>

                    </div>

                    <div class="col-md-6 col-md-offset-1 col-sm-12 no_padding">

                        <div class="col-md-4 col-sm-4 no_padding yellow_line">

                            <div class="foot_head">OUR SERVICES <i class="fa fa-angle-down" aria-hidden="true"></i></div>

                            <ul class="foot_dropdown">
                                <li><a href="patel_roadways.aspx">PATEL Roadways</a></li>
                                <li><a href="patel_express.aspx">PATEL Express</a> </li>
                                <li><a href="patel_airfreight.aspx">PATEL Airfreight</a></li>
                                <li><a href="patel_warehouse.aspx">PATEL Warehouse</a></li>
                                <%--   <li><a href="one_capital_ltd.aspx">One Capital</a></li>--%>
                            </ul>

                        </div>

                        <div class="col-md-4 col-sm-4 no_padding yellow_line">

                            <div class="foot_head">QUICK LINKS <i class="fa fa-angle-down" aria-hidden="true"></i></div>

                            <ul class="foot_dropdown">
                                <li><a href="careers.aspx">Careers</a> </li>
                                <li><a href="share_holding_pattern.aspx">Investor Relation</a></li>
                                 <li><a href="csr.aspx">CSR</a></li>
                                <li><a href="media_news_center.aspx">Media & News Centre</a></li>
                            </ul>

                        </div>

                        <div class="col-md-4 col-sm-4 no_padding yellow_line">

                            <div class="foot_head support">SUPPORT <i class="fa fa-angle-down" aria-hidden="true"></i></div>

                            <ul class="foot_dropdown">
                                <li><a href="location.aspx">Locations</a></li>
                                <!--<li><a href="#">FAQ</a></li>-->

                                <li><a href="contact_us.aspx">Contact Us</a></li>
                                <li><a href="sitemap.aspx">Sitemap</a></li>
                                <li><a href="https://mail.patel-india.com/webmail/" class="hope_mail" target="_blank">FOR PATEL employees / BA</a></li>
                            </ul>

                        </div>

                    </div>

                </div>

                <div class="col-xs-12 footer_box_2 no_padding">

                    <div class="col-md-6 col-sm-12 col-xs-12 no_padding copyright">
                        &copy; 2018  PATEL INTEGRATED LOGISTICS LTD. All rights reserved.
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12 no_padding foot_link">
                        <%--<ul class="pull-left">
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Legal Notice</a></li>
                        </ul>--%>
                        <a href="Disclaimer.aspx">Disclaimer</a>
                        <a href="https://kwebmaker.com/" target="_blank">kwebmaker &trade;</a>
                    </div>

                </div>

            </div>

        </div>

    </footer>
    <!-- #EndLibraryItem -->
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"></a>


    <script>

        function SearchKeyword() {
            var searchvalue = $('#txtSearch').val();
            //alert(searchvalue);
            if (searchvalue != '') {
                window.location.href = "search_results.aspx?SearchKey=" + searchvalue + "";;
            }
            else {
                alert('Enter search keyword ');
            }
        }


        function MobSearchKeyword() {
            var searchvalue = $('#txtMobSearch').val();
            //alert(searchvalue);
            if (searchvalue != '') {
                window.location.href = "search_results.aspx?SearchKey=" + searchvalue + "";;
            }
            else {
                alert('Enter search keyword ');
            }
        }

        $(document).ready(function () {
            document.onkeypress = function keypress(e) {
                if (e.keyCode == 13) {
                    SearchKeyword();
                    return false;
                }

            }
        })

    </script>


    <script type="application/ld+json">
{
   "@context" : "http://schema.org",
  "@type" : "Organization",
    "name" : "Patel Integrated Logistics Ltd.",
  "url" : "http://patel-india.com/",
  "sameAs" : [ "https://www.facebook.com/PatelIntegratedLogistics/",
    "https://twitter.com/PatelIntegrated",
    "https://plus.google.com/104380753397682066917",
       "https://www.linkedin.com/company/patelintegratedlogistics",
       "https://www.youtube.com/channel/UClBowcRqT2UUqDBAjk6NycQ",
        "https://www.instagram.com/patelintegratedlogistics"] 
}
</script>

</body>
</html>
