﻿<%@ Page Title="Best E-Commerce Logistics Service Provider in India | PATEL Express" Language="C#" MasterPageFile="~/HouseOfPatel.master" AutoEventWireup="true" CodeFile="patel_express.aspx.cs" Inherits="patel_express" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <section>
	
    <div class="container-fluid">

          <asp:Literal ID="ltrlBanner" runat="server"></asp:Literal>
    	
    
        
      	<div class="row services_wrp wrapper">
        
        	
        
<%--        	<div class="services_wrp_logo"><img src="images/services/service_logo/02.jpg" class="img-responsive" alt=""></div>--%>
            
                         <div class="services_wrp_logo"><img id="imagereview" runat="server" src="" class="img-responsive" /></div>
                <asp:Literal ID="ltrlcontent" runat="server"></asp:Literal>

         
       
       </div>
     
     </div>

</section>


    <script src="js/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/rem.min.js"></script>

<script src="js/general.js"></script>

<script src="js/css3-animate-it.js"></script>

</asp:Content>

