﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="Admin_index" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContentPlaceHolder" Runat="Server">
<div class="page-header" style="font-size: 24px; font-weight: normal;">WELCOME TO HOUSE OF PATEL </div>
</asp:Content>

