@charset "utf-8";

/* CSS Document */


@import url("reset.css");
@import url("fonts.css");


body{

font-family:Arial, Helvetica, sans-serif;
background:url(../images/tatva_top.jpg) no-repeat;
background-position:center 13px;


}

body.topBg{

background:url(../images/tatva_top.jpg) no-repeat;
background-position:center 72px;
}

p{

padding-bottom:25px;
font-size:13px;
color:#000;
text-align:justify;
line-height:17px;}




.leafBg{
/*background:url(../images/leaf_bg.jpg) no-repeat left top;
background-position:0px 30px;*/
}

#main_wrapper{


}


#top{
/*background:#ffce5a url(../images/header-bg.jpg) repeat-y center top;*/}

#header{
margin:0px auto;
/*width:1014px;*/

background-color:#FFFFFF;
padding-top:15px;
position:relative;
}

.topDiv{
width:1014px;
margin:0px auto;
position:relative;
}



#banner_wrapper
{
	width:1000px;
	height:272px;
	margin:0px auto;
	padding-left:2px;

	}

#inner_banner
{
	width:1000px;

	margin:0px auto;
	text-align:center;

	}
.faqBanner{
padding:40px;
background:url(../images/inner_banner/faq_banner.jpg) no-repeat;
min-height:130px;
}
.faqBanner p{
line-height:20px;
font-size:14px;
}

.faqBanner h1{
font-size:24px;
text-align:right;
}

.faqBanner h1 span{
font-size:12px;
}


#header .logo{
float:left;

}

#header .icici_logo{
float:right;}

#header .icici_logo, #header .logo{
margin-bottom:20px;}	


.blackArrowImage{
position:absolute;
width:100%;
/*margin-top:-1px;
z-index:9999;*/}	

.leftImage{
float:left;}


.rightImage{
float:right;}

#wrapper{
width:auto;
/*height:482px;*/

height:272px;
margin:0px auto;
position:relative;
overflow:hidden;
/*margin-left:2px;*/

}

.bannerSec{
position:relative;}




.bannerAccordian  ul{
position:relative;
display:block;

}

.bannerAccordian  li{
float:left;
width:250px;


overflow:hidden;
/*height:482px;*/

height:272px;
/*margin-right:1px;*/
text-align:center;
/*position:relative;*/
cursor:pointer;

}


.bannerAccordian .image{
position:relative;
}

.bannerAccordian .image img{
left:-200px;
top:0px;
position:absolute;

}

.clear{
clear:both;}

.bannerCont{
position:absolute;
bottom:0px;
left:0;
padding:10px;
}

.bannermenu{
background:url(../images/transparent.png);
/*width:790px;*/
width:735px;
min-height:100px;
color:#FFFFFF;
margin-top:100px;
}




.bannermenu p{
text-align:justify;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
padding:10px;
line-height:17px;
color:#FFFFFF;
}


.bannermenu h1{
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
font-weight:bold;
color:#fff;
text-align:left;
padding:10px;
}


.bannermenu h2{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#fff;
text-align:left;
padding:10px;
font-weight:bold;
}

/***** middle content ******/

#pageContainer{
width:1000px;
margin:0px auto;
}

.braedcrum{
position:absolute;
right:20px;
top:10px;
font-size:12px;
color:#646464;}

.braedcrum a{
color:#646464;
padding-right:15px;
background:url(../images/breadcrum-bullet.jpg) no-repeat right center;
margin-right:5px;
}

.braedcrum a:hover{
color:#000000;}

#middleContainer{
/*width:1000px;
margin:0px auto;*/
border-top:3px solid #323232;
border-left:1px solid #d9d9d9;
border-right:1px solid #d9d9d9;
background:#f1f1f1;
padding:50px 37px 10px 37px;
}

#middleContainer.innerMatter{

padding:50px 0px 10px 37px;
background:#f1f1f1 url(../images/leaf_gray_bg.jpg) no-repeat;
background-position:right 200px;
}

.bottomImage{
background:url(../images/container_bottom.jpg) no-repeat top center;
height:46px;
margin-bottom:5px;
}

#middleContainer .left{
float:left;
position:relative;}


#middleContainer .right{
float:right;
position:relative;}

#middleContainer .left, #middleContainer .right{
	width:421px;
	}
	
.rightList{
float:right;

}	

.rightList .tabs ul{
margin:0px;
padding:0px;
list-style:none;
}


.rightList .tabs ul li{


color:#FFFFFF;
margin-bottom:10px;
font-size:14px;

}

.rightList .tabs ul li a{
width:204px;
line-height:35px;
padding-left:40px;
background:#f26529 url(../images/pointer_arrow.jpg) left bottom no-repeat;
color:#FFFFFF;
display:block;
}

.rightList .tabs ul li.menu{
width:204px;
background:#f26529 url(../images/pointer_arrow.jpg) left bottom no-repeat;
padding-left:40px;
min-height:35px;
}

.rightList .tabs ul li.menu select{
margin-top:7px;
width:182px;
height:22px;
}


.rightList .tabs ul li a:hover, .rightList .tabs ul li a.active{
background:#004a80 url(../images/pointer_arrow.jpg) left top no-repeat;
}



.brownBox{
background:#b02a30;
color:#FFFFFF;
font-size:18px;
position:absolute;
top:-20px;
left:-20px;
padding:10px 12px;
-moz-box-shadow: 0px 0px 7px #4b4b4b;
-webkit-box-shadow: 0px 0px 7px #4b4b4b;
box-shadow: 0px 0px 7px #4b4b4b;



/* For IE 8 */
ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#4b4b4b')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#4b4b4b');

z-index:999;
}

.brownBox span{
text-transform:uppercase;}	

/*.content{
position:relative;
background:#fff url(../images/textMatter_bottom.jpg) no-repeat bottom;
width:665px;
float:left;
padding:40px 20px 26px 20px;
}
*/
/*** seperate lighbox pages***/
.content{
position:relative;
background:#fff url(../images/textMatter_bottom1.jpg) no-repeat bottom;
width:655px;
float:left;
/*padding:40px 20px 26px 20px;*/

padding:40px 20px 50px 20px;

}


#data{
padding:0px 20px;

}

.content h1, .content1 h1, #faq h1{
font-size:15px;
font-weight:bold;
margin-bottom:25px;
}
.content h1 em, .content1 h1 em{
font-style:italic;}

.content h1.gray, .content1 h1.gray{
background:#e3e3e3;
line-height:35px;
padding-left:10px;
}

.content h1.brown, .content1 h1.brown{
color:#960000;
}



.content h1.black, .content1 h1.black{
margin-bottom:7px;
}

.content h1.blue, .content1 h1.blue{
color:#004a80;
}

.content p strong, .content1 p strong{
font-weight:bold;}



.leftBox{
float:left;
margin-right:50px;}

.bottomSpace{
margin-bottom:25px;}

.gallery ul{
margin:0;
padding:0;
list-style:none;}

.gallery ul li{
float:left;
position:relative;
min-height:222px;
margin-bottom:35px;
margin-right:20px;
max-width:302px;
}

.imageSpacing ul li{

min-height:240px !important;
max-width:302px;

}


/*.gallery ul li + li{
margin-left:22px;
}*/

/*.gallery ul  li  div{
position:absolute;
}*/

.gallery ul li .shadow{

top:180px;
z-index:9;
position:absolute;}

.gallery ul li .shadow img{
width:302px;
}

.gallery ul li .title{
width:100%;
top:212px;

z-index:10;
font-weight:bold;
text-align:right;
font-size:12px;
/*position:absolute;*/
}

.gallery ul li .title .subheading{
font-weight:normal;

}

.imageSpacing  ul li .title{
top:205px !important;
}

.gallery ul li .title span{
font-weight:normal;
/*display:block;*/}

.gallery ul li .title .leftHeading, .gallery ul li .title .rightIcon{
margin-top:10px;}

.gallery ul li .title .leftHeading{
/*font-weight:bold;*/
font-size:12px;
float:left;
text-align:left;
line-height:23px;
}

.winner_award li {
min-height:240px !important;

}

.winner_award li span{
display:block;} 

.gallery ul li .title .rightIcon{
font-weight:normal;
font-size:12px;
float:right;

text-align:right;


}

.gallery ul li .title .rightIcon a{
display:block;
color:#000;
padding-left:25px;
background:url(../images/pdf_icon.jpg) no-repeat;
line-height:23px;
}

.gallery ul li .title .rightIcon a:hover{
color:#FF0000;}



.gallery ul li > a > img{
width:300px;
height:207px;
border:1px solid #ccc;
border-bottom:none;}

.awardWinner .title{
font-size:12px;
font-weight:bold;
margin-top:5px;}

.awardWinner .title span{
display:block;
font-weight:normal;
margin-top:2px;}


/****** content ul li  *********/
ul.matterText{
margin-bottom:25px;}

ul.matterText li{
font-size:12px;
margin-bottom:10px;
line-height:17px;
background:url(../images/bullet.jpg) no-repeat;
background-position:0px 3px;
padding-left:15px;
}
	
	
#middleContainer .matter{
border-left:1px solid #e9e9e9;
border-right:1px solid #e9e9e9;
background:#FFFFFF;
padding:45px 16px 10px 16px;
}

#middleContainer .matter p strong{
font-weight:bold;
}

.textImage{
margin-bottom:20px;
}


#middleContainer .matterBottom{
height:43px;
background:url(../images/matter_bottom.jpg) no-repeat;
}

.knowMore{
line-height:30px;
width:97px;

text-align:center;
color:#fff;
text-transform:uppercase;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}


.knowMore a{
display:block;
color:#FFFFFF;
background:url(../images/know_more_bg.jpg) repeat-x;
}

.knowMore a:hover{
display:block;

background:#000;
}


.more{
text-transform:uppercase;
margin-bottom:25px;
font-size:12px;
font-weight:bold;
}

.more a{
color:#000000;
}

#certifiedBranches .heading{
background:#e3e3e3;
font-size:15px;
font-weight:bold;
color:#000000;
padding:8px;
margin-bottom:20px;
}

#certifiedBranches h1{
background:url(../images/yellow_bg.jpg) repeat-x;
line-height:31px;
padding-left:12px;
font-weight:bold;
font-size:12px;
margin-bottom:10px;
}

#certifiedBranches p{
text-align:left;}

#certifiedBranches ul{
margin:0 0 20px 0;
padding:0;
list-style:none;
}

#certifiedBranches ul li{
float:left;
width:186px;
}

#certifiedBranches ul li + li{
margin-left:40px;}


/**** Other Black Buttons ****/

.buttons{
margin-top:55px;}


.black_buttons{



text-align:center;
color:#fff;

font-size:12px;
font-family:Arial, Helvetica, sans-serif;
float:left;
margin-right:5px;
}


.black_buttons a{
line-height:30px;
padding:0px 15px 0px 27px;
display:block;
color:#FFFFFF;
background:url(../images/tick.png) no-repeat;
background-position:10px center;
}

.black_buttons a:hover{
display:block;
background:#000 url(../images/tick.png) no-repeat;
background-position:10px center;
}

.black_buttons .text{
background:url(../images/know_more_bg.jpg) repeat-x;
}

#pagination{
margin-top:20px;
margin-bottom:10px;
float:right;
}

#pagination ul{
margin:0;
padding:0;
list-style:none;}

#pagination ul li{
float:left;
margin-left:3px;

font-size:12px;
}

#pagination ul li a{
background:#f1f1f1;
padding:5px 7px;
border:1px solid #e1e1e1;
color:#000;
}

#pagination ul li a:hover
{
    background:#FFFFFF;
}

#pagination ul li input
{
background:#f1f1f1;
padding:5px 7px;
border:1px solid #e1e1e1;
color:#000;
cursor: pointer;
}

#pagination ul li input:hover
{
    background:#2f77ad;
}

#pagination ul li .active
{
    background-color: #2f77ad;
}


/**** accordian *****/

#faq .menuheader{
padding-left:10px;
color:#000;
font-size:16px;
background:#e3e3e3 url(../images/plus_minus.jpg) no-repeat;
background-position:615px bottom;
line-height:35px;
margin-bottom:20px;
}

#faq .openheader{
background:#e3e3e3 url(../images/plus_minus.jpg) no-repeat;
background-position:615px top;
}

/*.categoryitems ul{
margin:0px;
padding:0px;
list-style:none;
}*/


.categoryitems ul li{
line-height:20px;
font-size:12px;

}

.categoryitems p strong{
font-weight:bold;
}

.categoryitems table{
margin-bottom:20px;}
.categoryitems td {
font-size:12px;
padding:5px;}

.categoryitems td.bold{
font-weight:bold;} 

/*.categoryitems ul li strong{
width:100px;
display:block;
float:left;
font-weight:bold;
}

.categoryitems ul li span{
float:right;
}*/

/**** more & less matter *****/

 #moreMatter .menuheader{


background:url(../images/more_less_btn.jpg) left top no-repeat ;
height:12px;

}

 #moreMatter .menuheader:hover{


background:url(../images/more_less_btn.jpg) right top no-repeat ;
height:12px;

}



#moreMatter .openheader{
background:url(../images/more_less_btn.jpg) left bottom no-repeat;
height:12px;
}

#moreMatter .openheader:hover{
background:url(../images/more_less_btn.jpg) right bottom no-repeat;
height:12px;
}




#moreMatter  .expandable {
margin-bottom:20px;
cursor:pointer;
width:43px;}


/***** leadership tabs *****/

#leadership{

position:relative;
/*width:884px;*/
max-width:920px;
background:#fff url(../images/leadership_bottom_base.jpg) no-repeat bottom;
}


#tabs{
padding:40px 20px 26px 20px;
}

#tabs ul {
margin:0px;
padding:0px;
list-style:none;}

#tabs > ul > li{
float:left;
font-size:12px;
font-weight:bold;
margin-right:1px;
}

#tabs ul > li > a{
line-height:41px;
padding:0px 30px;
display:block;
}


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	

	
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color:#000000;
	
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {


	color:#000000;

	
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color:#000000;
	
	background:url(../images/tab_list_bg.jpg) repeat-x;


}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	


	background:url(../images/tab_list_bg.jpg) repeat-x;
	
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
color:#000000;

}


.leadership_matter{
border:1px solid #CCCCCC;
padding:20px;
margin-bottom:10px;
}

/*organic tabs*/
/*#example-one ul { list-style: none; }
#example-one ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#example-one ul li a:hover { background: #fe4902; color: white; }
#example-one ul li:last-child a { border: none; }*/

/*#example-one ul li a.current, #example-one ul li a:hover { background-color: #0575f4; color: white; }*/
.hide { /*position: absolute; top: -9999px; left: -9999px;*/ display:none; }




.leadership_pic > ul > li{
float:left;
margin-bottom:20px;
max-width:146px;
}

.leadership_pic > ul > li + li{
margin-left:18px;

}

.leadership_pic > ul > li img{
border:1px solid #CCCCCC;}

.leadership_pic > ul > li a{
padding:5px !important;
/*background:#e6e6e6;*/
margin-bottom:5px;}

.leadership_pic > ul > li a.current, .leadership_pic > ul > li a:hover{
background-color: #e6e6e6;
}

.leadership_pic  .name{
font-weight:bold;
font-size:12px;
margin-bottom:5px;
}

.leadership_pic  .designation{

font-size:12px;
}

.leadership_pic h1{
font-size:20px;
color:#264d9a;
margin-bottom:0px;
}

.leadership_pic h2{
font-size:18px;
margin-bottom:20px;}


.innerPageContent{
padding:50px 20px 30px;

}

.innerPageContent h1{
font-size:12px;
font-weight:bold;}


/**** footer  ****/

.footer{
width:1000px;
font-size:12px;
color:#646464;
margin:0px auto 20px;
}

.footer span{
color:#000000;
padding-left:3px;}

.footer a {
color:#000000;
}

.footer a:hover{
color:#b02a30;
}


/***** masterchef lightbox  *********/


/*.masterChef{
width:607px;
height:587px;
/*background:url(../images/masterShef_bg.jpg) no-repeat;*/
/*padding:103px 10px 8px 43px;
}

.awardnite_bg{
width:607px;
height:587px;
background:url(../images/awardnite_bg.jpg) no-repeat;
padding:130px 10px 8px 43px;
}

.awardnite_bg_2012{
width:607px;
height:587px;
background:url(../images/award_nite_bg.jpg) no-repeat;
padding:125px 10px 8px 43px;
}


.masterChef img, .awardnite_bg img, .awardnite_bg_2012 img{
width:575px;
height:396px;}


.masterChef .title, .awardnite_bg .title, .awardnite_bg_2012 .title{
font-size:12px;
font-weight:bold;
text-align:right;
padding-right:35px;
padding-top:5px;
}

.masterChef .title span, .awardnite_bg .title span, .awardnite_bg_2012 .title span{
font-weight:normal;}
*/

.lightBoxImage{
width:607px;
height:587px;
/*background:url(../images/awardnite_bg.jpg) no-repeat;*/
padding:130px 10px 8px 43px;
}


.lightBoxImage img{
width:575px;
height:396px;
}


.lightBoxImage .title{
font-size:12px;
font-weight:bold;
text-align:right;
padding-right:35px;
padding-top:5px;
}

.lightBoxImage .title span{
font-weight:normal;
}

.select select{
padding:5px;
width:232px;
margin-bottom:20px;
}


.grayBlue{color:#004a80;}