﻿@charset "utf-8";
/* CSS Document */

.inner_title {text-transform:uppercase; color:#0d1740;}


/* about us */
.inner_banner_wrp {margin-bottom:65px; height:335px; position:relative; z-index:1;}
.inner_banner_wrp:before {position:absolute; top:0; right:0; bottom:0; left:0; background:rgba(0, 0, 0, 0.10); width:100%; height:100%; z-index:0;}
.inner_banner_wrp .inner_page_title {width:100%; height:100%; display:table; position:relative; z-index:1;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt{display:table-cell; vertical-align:middle; color:#fff;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt h1 {text-transform:uppercase; font-family: 'aharonibold';}
.inner_banner_wrp .inner_page_title .inner_page_title_txt .breadcrumb {background:none; margin:0; font-size:20px; font-weight:700;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt .breadcrumb li {font-size:16px; color:#fff200; text-transform:uppercase;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt .breadcrumb li a {color:#fff;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt .breadcrumb li a:hover{color:#0d1740;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt .breadcrumb>li+li:before {background:url(../images/bredcumb_arrow.png) no-repeat center; content:""; width:20px; height:20px; padding:0 20px;}

.welcome_wrp {margin-bottom:65px;}
.welcome_wrp .welcome_wrp_left {/* border:1px solid #0d1740; */padding: 0;font-weight:500;font-style:italic;line-height:25px;text-align:  left;position:relative;}
.welcome_wrp .welcome_wrp_left p {margin-bottom:10px;}
   /* .welcome_wrp .welcome_wrp_left a {
    text-decoration:underline;}*/
    
    .welcome_wrp .welcome_wrp_left a {color:#1b63ce; display:inline-block; position:relative; font-weight:300; margin-top:15px;}
      .welcome_wrp .welcome_wrp_left a:after {width:16px; height:16px; background:url(../images/open_new_window.png) no-repeat; position:absolute; top:0; right:-22px;}
.welcome_wrp .welcome_wrp_left:before {position:absolute;/* top:0; */right: 18px;bottom: -20px;/* left:0; */width:40px;height:40px;/* background:url(../images/join_team.png) no-repeat center #fff; */background-size:cover;}
.welcome_wrp .welcome_wrp_right {padding-left:40px;}
.welcome_wrp .title {position:relative;overflow-x: hidden;}
.welcome_wrp .title:before {position:absolute;top: 4px;left: 120px;background:#fdf401;width:100%;height:18px; display:none;}
.welcome_wrp .title h1{line-height:30px; margin-bottom:20px;}
.welcome_wrp .title p {font-weight:500;}
.break {display:block;}

.welcome_wrp p {margin-bottom:25px; line-height:22px;}
.welcome_wrp p:last-child {margin-bottom:0;}

.grey_bg {background:#f4f4f4;}
.chairman_msg {margin-bottom:110px; position:relative; padding:35px 0 0 0;}
.chairman_msg:before {width:40px; height:40px; background:url(../images/caret_down.png) no-repeat center; position:absolute; top:-20px; left:5%;}
.chairman_msg .chairman_white_circle {width:350px; height:350px; background:#FFF; margin:0 auto; padding:15px; border:1px solid #d9d9d9; position:relative; margin-top:65px;}
.chairman_msg .chairman_white_circle:before {width:1px; height:65px; position:absolute; top:-65px; margin:auto; background:#d3d3d3;}
.chairman_msg .chairman_white_circle:after {width:1px; height:65px; position:absolute; bottom:-65px; margin:auto; background:#d3d3d3;}

.chairman_msg .chairman_txt h1 {font-size:22px; text-transform:uppercase; margin-bottom:25px;}
.chairman_msg .chairman_txt p {margin-bottom:25px; line-height:22px;}
.chairman_msg .chairman_txt a {font-style:italic; font-weight:500; color:#0c1840; margin-bottom:25px; display:block; cursor:pointer;}

.vmv_wrp {margin-bottom:100px;}
.vmv_wrp .vmv_wrp_content {height:auto; min-height:260px; position:relative;}
.vmv_wrp .vmv_wrp_content .vmv_wrp_content_icon {width:100px; height:100px; margin:-50px auto 0 auto; border:1px solid #ececec;}
.vmv_wrp .vmv_wrp_content:hover{-webkit-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.18); -moz-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.18); box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.18);}
.vmv_wrp .vmv_wrp_content h2 {text-transform:uppercase; font-size:18px; color:#18374c; margin:25px 0;}
.vmv_wrp .vmv_wrp_content p {line-height:24px; color:#414141; font-size:15px; }
.vmv_wrp .vmv_wrp_content .vision {background:url(../images/vision_icon.png) no-repeat center top #fff;}
.vmv_wrp .vmv_wrp_content:hover .vision {background:url(../images/vision_icon.png) no-repeat center bottom #1a364b;} 
.vmv_wrp .vmv_wrp_content .mission {background:url(../images/mission_icon.png) no-repeat center top #fff;}
.vmv_wrp .vmv_wrp_content:hover .mission {background:url(../images/mission_icon.png) no-repeat center bottom #1a364b;} 
.vmv_wrp .vmv_wrp_content .value {background:url(../images/value_icon.png) no-repeat center top #fff;}
.vmv_wrp .vmv_wrp_content:hover .value {background:url(../images/value_icon.png) no-repeat center bottom #1a364b;} 

.ud_note {margin-bottom:20px; font-weight:bold;}

.verticle_tab_wrp {margin-bottom:60px; padding-bottom:50px;}
.tabs_wrapper {width:100%; display:table;}
.tabs_wrapper  ul.tabs {display:inline-block; vertical-align:top; position:relative; z-index:10; padding:0; width:28%; margin-right:2%; min-width:175px; list-style:none; -ms-transition:all .3s ease; -webkit-transition:all .3s ease; transition:all .3s ease;}
.tabs_wrapper  ul.tabs li {margin:0; cursor:pointer; height:50px; line-height:50px; color:#343434; text-align:left; text-transform:capitalize; ms-transition: all .3s ease; -webkit-transition: all .3s ease; transition: all .3s ease; border-right:1px solid #eee; position:relative;}
 .tabs_wrapper  ul.tabs li:before {width:20px; height:20px; position:absolute; right:-10px; top:25%; background:#f3f3f3; border:1px solid #eee; border-radius:100%;}
.tabs_wrapper  ul.tabs li:after {width:12px; height:12px; position:absolute; right: -6px; top:33%; background:#d9d9d9; border-radius:100%;}
.tabs_wrapper ul.tabs li.active:before {background:#fff;}
.tabs_wrapper ul.tabs li.active:after {background:#18374c;}
.tabs_wrapper ul.tabs li.active, .tabs_wrapper ul.tabs li:hover {color:#19354a; font-weight:500; -ms-transition: all .3s ease; -webkit-transition: all .3s ease;transition: all .3s ease;}
.tab_container {display:inline-block; vertical-align:top; position:relative; z-index:20; width:70%; min-width:10px; text-align:left;}
.tab_content {padding:20px; height:100%; display:none;}
.verticle_tab_pic {width:300px; height:300px; padding:15px; overflow:hidden; background:#fff; border:1px solid #d9d9d9; margin:0 auto;}
.verticle_tab_pic:before {width:1px; height:65px; position:absolute; top:-65px; margin:auto; background:#d3d3d3;}
.verticle_tab_pic:after {width:1px; height:65px; position:absolute; bottom:-65px; margin:auto; background:#d3d3d3;}
.verticle_tab_content .title h2 {color:#0b173f; font-size:16px; margin-top:0;}
.verticle_tab_content p {font-weight:500; line-height:22px; text-align:justify;} 
.tab_drawer_heading {display:none;}

.quality_policy_wrp {margin-bottom:60px; border-top:1px solid #dedede; padding-top:50px;}
.quality_policy_wrp p {text-align:justify; margin-bottom:20px;}
.title h1 {font-size:22px;}
.quality_policy_pic_wrp {padding:0;}

.board_commities_wrp {margin-bottom:60px; position:relative;}
.board_commities_wrp .nav-tabs {display:table; width:100%; margin:0; border-bottom:0; margin-top:-25px;}
.board_commities_wrp .nav-tabs li {display:table-cell; position:relative; background:#fff; border:1px solid #eee; height:45px; line-height:45px; text-align:center; vertical-align:middle;}
.board_commities_wrp .nav-tabs li:last-child {border-left:0;}
.board_commities_wrp .nav-tabs li a {margin-right:0; text-transform:uppercase; border:none; font-size:16px; color:#353535; font-weight:500; display:block; height:45px; line-height:45px; width:100%; padding:0 70px;}
.board_commities_wrp .nav-tabs > li.active > a, .board_commities_wrp .nav-tabs > li.active > a:focus, .board_commities_wrp .nav-tabs > li.active > a:hover {background:#feed01; border:none!important; color:#1e1e1e;}
.board_commities_wrp .tab-content {border-top:none; padding:0 0 30px 0;}
.board_commities_wrp .tab-content .bod_slider {padding:60px 0 30px 0;}
.board_commities_wrp .tab-content .bod_slider .bod_slider_content .bod_pic {width:100%; max-width:260px; height:260px; margin:0 auto; margin-bottom:30px; overflow:hidden; position:relative; cursor:pointer;}
.board_commities_wrp .tab-content .bod_slider .bod_slider_content .bod_pic:before {width:0; height:0; border-radius:100%; margin:auto; position:absolute; top:0; left:0; bottom:0; right:0; background:rgba(13, 23, 64, 0.40) url(../images/plus_icon.png) center no-repeat; opacity:0; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}
.board_commities_wrp .tab-content .bod_slider .bod_slider_content .bod_pic:hover:before {width:100%; height:100%; opacity:1; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.board_commities_wrp .tab-content .bod_slider .bod_slider_content .bod_pic img {width:100%; display:block;}
.board_commities_wrp .tab-content .bod_slider .bod_slider_content {outline:none; font-family:"Raleway", sans-serif;}
.board_commities_wrp .tab-content .bod_slider .bod_slider_content h2 {text-transform:uppercase; font-size:16px;}
.board_commities_wrp .tab-content .bod_slider .bod_slider_content p {text-transform:capitalize; font-size:12px; text-align:center;}
.board_commities_wrp .tab-content .slick-dots {bottom:0;left: 0;width: 100%;text-align: center;}
.board_commities_wrp .tab-content .slick-dots li {width:20px; height:20px; background:none; border:1px solid #dadada;}
.board_commities_wrp .tab-content .slick-dots li button {width:20px; height:20px; background:none;}
.board_commities_wrp .tab-content .slick-dots li button:before {width:10px; height:10px; top:4px; left:4px; background:#dcdadb;}
.board_commities_wrp .tab-content  .slick-dots li.slick-active button:before {background:#0c1840;}
.hidden-content {max-width:550px; padding:20px; opacity:0; transform: translateY(-50px); transition: all .3s; font-family:"Raleway", sans-serif;}
.fancybox-slide--complete .hidden-content {opacity:1;transform: translateY(0);}
.hidden-content .bod_pic {width:100px; height:100px; overflow:hidden; margin:0 auto;}
.hidden-content .nd {width:100%; margin-bottom:5px;}
.hidden-content .nd h2 {font-size:18px; text-align:center; margin: 10px 0 5px 0;}
.hidden-content .nd p {font-size:12px; text-align:center;}
.hidden-content p {text-align:justify; line-height:22px; margin:0; font-size:14px;}

.board_commities_wrp .tab-content .coc_slider {padding:60px 0 30px 0;}
.board_commities_wrp .tab-content .coc_slider_content {padding:0 20px;}
.board_commities_wrp .tab-content .coc_slider_content .title {margin-bottom:0;}
.board_commities_wrp .tab-content .coc_slider_content .title h1 {font-size:18px; line-height:24px;}
.board_commities_wrp .tab-content .coc_slider_content h2 {font-size:16px;}
.board_commities_wrp .tab-content .coc_slider_content table {border-collapse:collapse;border:none;width:100%;margin-bottom:1%;border-color: #2d3450;background:#0d1740;} 
.board_commities_wrp .tab-content .coc_slider_content table tr td {padding:10px; width:33.33%; color:#fff;}
/*.board_commities_wrp .tab-content .coc_slider_content table tr:nth-child(even){background:#fff;}
*/
.ptw_wrp {margin-bottom:85px;}
.ptw_wrp .title {margin-bottom:15px;}
.ptw_wrp h2 {font-weight:500; font-size:14px; margin:0 0 15px 0; line-height:22px;}
.ptw_wrp p {margin-bottom:25px; line-height:22px; text-align:justify;}
.ptw_wrp p:last-child {margin-bottom:0;}
.ptw_wrp .policy_wrp {border:1px solid #e0e0e0; padding:20px; position:relative; height:460px;}
.ptw_wrp .policy_wrp:before {width:70px;height:70px;position:absolute;top: -50px;right: 15px;background:url(../images/policy_icon.png) no-repeat center #fff; background-size:cover;}
.news_flash_wrap {width:100%; height:100%;}
.ptw_wrp .policy_wrp .scrollbox {width:100%; height:100%;}
.ptw_wrp .policy_wrp .scrollbox li{width:100%;display:block;border-bottom:1px solid #e0e0e0;background:url(../images/pdf_icon.png) no-repeat left;font-weight:500;padding: 20px 0 20px 50px;}
.ptw_wrp .policy_wrp .scrollbox li:last-child {border-bottom:0; margin-bottom:0;}
.ptw_wrp .policy_wrp .scrollbox li a:hover {color:#0d1740; font-weight:bold;}
.ptw_wrp .testimonial_wrp {border:1px solid #e0e0e0; padding:20px; position:relative; height:460px;}
/*.ptw_wrp .testimonial_wrp .testimonial_txt {overflow:hidden; height:85%;}
*/.ptw_wrp .testimonial_wrp a {text-transform:capitalize; font-weight:700; font-style:italic; color:#0c1840;}
.ptw_wrp .testimonial_wrp:before {width:70px;height:70px;position:absolute;top: -50px;right: 15px;background:url(../images/testimonial_icon.png) no-repeat center #fff; background-size:cover;}
.ptw_wrp .why_us_wrp {border:1px solid #e0e0e0; padding:20px; position:relative; height:460px;}
.ptw_wrp .why_us_wrp:before {width:70px;height:70px;position:absolute;top: -50px;right: 15px;background:url(../images/why_us_icon.png) no-repeat center #fff; background-size:cover;}

.scrollbox{overflow: auto; width: 100% !important; height:100%;  padding-right:20px!important;}
.track{width: 6px; /*background: rgba(0, 0, 0, 0);*/ background:#bababa; margin-right: 2px; border-radius: 10px; -webkit-transition: background 250ms linear; transition:background 250ms linear; left:0px; top:0px;}
.handle {width: 12px;height:12px !important;right: -3px;/*background: #999;*/background:#fff200;border-radius: 100%;-webkit-transition: width 250ms;transition: width 250ms;}
.track:hover .handle,.track.dragging .handle {width: 12px;}

.location_wrp {margin-bottom:75px;}
.location_wrp .head_off_address {margin-bottom:20px;}
.location_wrp .inner_title {margin-bottom:20px;}
.location_wrp .inner_title h1 {/*font-weight:700;*/ font-size:22px;}
.location_wrp .head_off_address p{font-size:15px;}
.location_wrp .head_off_address p sPAN {font-weight:500; display:inline-block; margin-right:10px;}

.regional_wrp_head {position:relative; width:100%; margin-bottom:20px; margin-top:25px;}
.regional_wrp_head .regional_wrp_head_txt h2 {margin:0; padding:0; font-size:22px; text-transform:uppercase; color:#0d1740;}
.bl_clr {color:#0d1740; font-weight:500; text-transform:capitalize!important;}
.regional_wrp_head .address_search .form-control {border-radius:0; border:1px solid #ddd; box-shadow:none; position:relative; padding-right:40px;}
.regional_wrp_head .address_search .form-control:focus {outline:0; box-shadow:none; border:1px solid #ddd;}
.regional_wrp_head .address_search span {position:absolute; top:0; right:0; display:inline-block; background:#0d1740; color:#fff; vertical-align:middle; width:30px; height:35px; line-height:35px; cursor:pointer;}
.regional_wrp_head .address_search span:hover {background:#fff200; color:#0d1740;}

.patel_roadways_address_wrp .patel_roadways_address_wrp_head {margin-bottom:20px;font-size: 22px;text-transform: uppercase;font-weight:500;color: #0d1740;}

/*.tab__content {position:relative; width:100%; margin:0;}
.resp-tabs-list {display:table; width:100%; margin:0 0 20px 0;}
.resp-tabs-list > li {transition-duration:.25s; display:table-cell; list-style:none; text-align:center; padding:10px 0 0 0; position:relative; cursor:pointer; color:white; border-top:1px solid #e0e0e0; color:#343434;}
.resp-tabs-list > li:before {position:absolute; width:9px; height:9px; top:-30px; right:0; bottom:0; left:0; margin:auto; background:url(../images/zone_icon.png) no-repeat center;}
.resp-tabs-list > li a {position:relative; font-weight:500;}
.resp-tabs-list > li a:hover, .patel_roadways_address_wrp .tabs > li a.active{font-weight:700;}
.resp-tabs-list > li a:after {position:absolute; right:50%; bottom:-5px; left:50%; width:0; height:3px; background:#0d1740; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; opacity:0;}
.resp-tabs-list > li a:hover:after {left:0; right:0; width:100%; opacity:1; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.resp-tabs-list > li a.active:after {bottom:-5px; width:100%; height:3px; opacity:1; left:0; font-weight:700;}

.resp-tabs-container div .content_wrapper .office_address_txt {padding:30px;border-left:1px solid #fff;border-right:1px solid #e0e0e0;line-height:28px;font-size:15px; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; transition: all 0.3s ease-in-out; position:relative; margin-bottom:20px;}

.resp-tabs-container div .content_wrapper .office_address_txt .uppercase {text-transform:uppercase!important;}

.resp-tabs-container div .content_wrapper .office_address_txt a:hover {font-weight:bold;}

.resp-tabs-container div .content_wrapper .office_address_txt:hover {-webkit-box-shadow:0px 0px 56px 0px rgba(0,0,0,0.18); -moz-box-shadow:0px 0px 56px 0px rgba(0,0,0,0.18);
box-shadow:0px 0px 56px 0px rgba(0,0,0,0.18); -webkit-transition: all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; border-right:1px solid #fff;}

.resp-tabs-container div .content_wrapper .office_address_txt sPAN i {margin-right:5px; display:inline-block;}

.resp-tabs-container div {width:100%; position:absolute; top:0; left:0; display:none; list-style:none;}
.resp-tabs-container div .content_wrapper {text-align:justify; border-radius:5px; width:100%; background-color:white;}*/

.office_address_txt { padding:15px;border-right:1px solid #e0e0e0;line-height:28px;font-size:15px; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; transition: all 0.3s ease-in-out; position:relative; margin-bottom:20px;}
.office_address_txt:hover {-webkit-box-shadow:0px 0px 56px 0px rgba(0,0,0,0.18); -moz-box-shadow:0px 0px 56px 0px rgba(0,0,0,0.18);
box-shadow:0px 0px 56px 0px rgba(0,0,0,0.18); -webkit-transition: all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; border-right:1px solid #fff;}
.office_address_txt span i {margin-right:5px; display:inline-block;}
.resp-tab-content:after {clear:both; display:inherit;}


.office_address_txt:after {display:block; clear:both; width:100%;} 

/* careers css */
.carrers_wrp {margin-bottom:65px;}
.carrers_wrp .inner_title {margin-bottom:45px;}
.carrers_wrp .inner_title h1{font-size:25px; font-weight:500;}
.carrers_wrp .why_work_wrp h2 {font-size:16px; margin:0 0 30px 0;}

.carrers_wrp .why_work_wrp p {margin-bottom:25px;}
.carrers_wrp .why_work_wrp p:last-child {margin-bottom:0;}
.carrers_wrp .why_work_wrp a {font-weight:bold;}
.carrers_wrp .join_team_wrp {border:1px solid #d0d0d0; min-height:320px; padding:45px 30px; font-family:"Raleway", sans-serif; position:relative;}
.carrers_wrp .join_team_wrp:before {width:67px; height:57px; background:url(../images/join_team.png) no-repeat center #fff; position:absolute; right:20px; bottom:-20px; padding:0 45px;}
.carrers_wrp .join_team_wrp p {font-size:16px; font-weight:bold; font-style:italic; line-height:30px; text-align:justify;}
.carrers_wrp .join_team_wrp a {position:absolute; bottom:-20px; left:30px; display:table; font-size:16px; font-weight:bold; width:150px; height:40px; line-height:40px; background:#0d1740; color:#fff; border-radius:5px; text-transform:capitalize;}
.carrers_wrp .join_team_wrp a:hover {background:#fff200; color:#0d1740;}
.wh_wrp {margin-bottom:50px; padding:50px 0;}
.wh_wrp p {text-align:justify; margin-bottom:25px;}
.wh_wrp p:last-child {margin-bottom:0px;} 
.wh_wrp .inner_title {margin-bottom:25px;}
.wh_wrp .inner_title h2 {text-transform:uppercase; font-size:16px; font-weight:500;}

.current_opening_wrp {margin-bottom:65px;}
.current_opening_wrp .inner_title {margin-bottom:40px;}
.current_opening_wrp .inner_title h1 {font-size:20px; font-weight:500; margin:0;} 

.current_opening_wrp .co_tab_wrp {width:100%; margin-bottom:20px; font-family:"Raleway", sans-serif;}
.current_opening_wrp .co_tab_wrp .co_tab_head {width:100%;border:1px solid #e0e0e0; padding:0 25px; cursor:pointer;}
.current_opening_wrp .co_tab_wrp .co_tab_head ul {width:95%; display:table; margin-bottom:0;}
.current_opening_wrp .co_tab_wrp .co_tab_head ul li {display:inline-block; padding:0 50px; font-size:16px; font-weight:600; color:#343434;}
.current_opening_wrp .co_tab_wrp .co_tab_head ul li:first-child {/*width:30%;*/ padding:0;}
.current_opening_wrp .co_tab_wrp .co_tab_head ul li i {display:inline-block; width:auto; margin-right:10px; color:#909090;}
.current_opening_wrp .co_tab_wrp .co_tab_head i {width:5%; line-height:50px; font-size:25px; margin-left:0; text-align:right;}
.current_opening_wrp .co_tab_wrp .co_tab_content {width:100%; padding:25px 50px; border:1px solid #e0e0e0; border-top:0; display:none;}
.current_opening_wrp .co_tab_wrp .co_tab_content table td {padding:15px 0;}
.current_opening_wrp .co_tab_wrp .co_tab_content table td:first-child {width:15%; font-size:14px; font-weight:600; color:#0d1740; text-transform:capitalize; position:relative;}

.current_opening_wrp .co_tab_wrp .co_tab_content table td:first-child:before {position:absolute; right:0; content:':';}

.current_opening_wrp .co_tab_wrp .co_tab_content table td:last-child {padding-left:15px;}
.current_opening_wrp .co_tab_wrp .co_tab_content a {background:#0d1740; display:table; height:35px; line-height:35px; padding:0 20px; border-radius:5px; color:#fff; margin-top:10px;text-transform:uppercase;}
.current_opening_wrp .co_tab_wrp .co_tab_content a:hover {background:#fff200; color:#000;}

#apply_form {width:100%; font-family:"Roboto", sans-serif;}
#apply_form .inner_title {margin-bottom:20px;}
#apply_form .inner_title h2 {font-size:22px;}
#apply_form .form-control {background:#fff;color:#010101;border:1px solid #cacaca;border-radius: 0;font-size:15px;height:40px;line-height:40px;box-shadow:none;}
#apply_form .form-control:focus {outline:none; border-color:none; box-shadow:none;}
#apply_form .btn-group>.btn {float:none; color:#010101; font-size:15px; line-height:normal;}
#apply_form .btn-default:hover {background:none; border-color:#fff;}
#apply_form .btn-default:focus {background:none; border-color:#fff;}
#apply_form .btn:active {box-shadow:none;}
#apply_form .btn-group>.btn:first-child {margin:inherit;}
#apply_form .btn-primary {width:88px;height:35px;text-transform:uppercase;border:0;background:#0d1740;color:#fff;border-radius: 0;}
#apply_form .btn-primary:hover {background:#fff200; color:#010101;}
#apply_form select option {text-transform:capitalize;}

.services_wrp  {margin-bottom:65px;}
.services_wrp p {line-height:24px;}
.services_wrp .inner_title {margin-bottom:45px;}
.services_wrp .inner_title h1{font-size:25px; font-weight:500;}
.services_wrp_left h2 {font-size:16px; margin-top:0; text-transform:uppercase;}
.services_wrp_right {border-left:1px solid #e0e0e0; padding:0 0 40px 50px;}
.services_wrp_right .nav-tabs {width:100%; display:table; margin:0; border:0; margin-bottom:20px;}
.services_wrp_right .nav-tabs li {width:auto; display:inline-block; padding-right:30px; position:relative; margin-right:20px; font-size:16px;}
.services_wrp_right .nav-tabs li:after {content:'|'; position:absolute; top:0; right:0; color:#343434; font-size:16px;}
.services_wrp_right .nav-tabs li:last-child:after {display:none;}
.services_wrp_right .nav-tabs li:last-child {padding-right:0; margin-right:0;}
.services_wrp_right .nav-tabs li:focus {outline:none;}
.services_wrp_right .nav-tabs li a {display:block; position:relative; border:none;}
.services_wrp_right .nav-tabs li a:after {position:absolute; bottom:0; left:45%; right:45%; width:10%; height:0px; background:#0d1740; opacity:0; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out;}
.services_wrp_right .nav-tabs li a:hover {border:none;}
.services_wrp_right .nav-tabs li a:hover:after {opacity:1; height:1px; left:0; right:0; width:100%;}
.services_wrp_right .nav-tabs > li.active > a, .services_wrp_right .nav-tabs > li.active > a:focus, .services_wrp_right .nav-tabs > li.active > a:hover {background:none; font-weight:700; color:#1e1e1e;}

.services_wrp_logo {width: 250px;height:auto;margin-bottom:20px;}
    .services_wrp_logo img {
        width: 100%;
        max-width:none;
    }
.services_wrp .express_right {border:0;}
.services_wrp .patel_express_txt p {margin-bottom:20px; text-align:justify;}

.services_wrp_logo .logo_border {border:1px solid #ededed;}

.one_capital_right .inner_title {margin-bottom:0;}
.one_capital_right .inner_title h2{font-size:18px;}
.accord_detail p {margin-bottom:0!important;}

.share_holding_pattern_wrp {margin-bottom:50px;position:relative;/*padding-bottom: 100px;*/border-bottom: 2px dotted #e0e0e0;}
.share_holding_pattern_wrp .slick-arrow {width:50px; height:50px; z-index:1;}
.share_holding_pattern_wrp .slick-prev {left:50%;top:auto;bottom: 20px;margin-left:-50px;background:url(../images/share_holding_prev.png) no-repeat center;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.share_holding_pattern_wrp .slick-prev:after {position:absolute; right:0; top:0; width:1px; height:100%; background:#e0e0e0;}
.share_holding_pattern_wrp .slick-prev:hover {background:url(../images/share_holding_prev_hvr.png) no-repeat center; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.share_holding_pattern_wrp .slick-next {right:50%;top:auto;bottom: 20px;margin-right:-50px;background:url(../images/share_holding_next.png) no-repeat center;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.share_holding_pattern_wrp .slick-next:hover {background:url(../images/share_holding_next_hvr.png) no-repeat center;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.share_holding_pattern_wrp .share_holding_pattern_content {border-right:1px solid #e0e0e0; padding:0 10px; /*min-height:188px;*/}
.share_holding_pattern_wrp .share_holding_pattern_content ul {width:100%; display:table; margin:0;}
.share_holding_pattern_wrp .share_holding_pattern_content ul li {width:100%; display:block; font-size:14px; margin-bottom:20px; padding-left:20px}
.share_holding_pattern_wrp .share_holding_pattern_content ul li:last-child {margin-bottom:0;}
.share_holding_pattern_wrp .share_holding_pattern_content ul li a:hover { color:#0d1740;}
.share_holding_pattern_wrp .share_holding_pattern_content ul li i {margin:0 7px 0 -20px; font-weight:700; font-size:16px; display:inline-block;}
.share_holding_pattern_wrp .share_holding_pattern_content .inner_title {margin-bottom:28px;}
.share_holding_pattern_wrp .share_holding_pattern_content .inner_title h2 {font-size:16px; font-weight:700; margin:0; }


.share_holding_pattern_wrp.slick-slider .slick-list {margin-bottom:50px;}
.share_holding_pattern_wrp.slick-slider .slick-arrow + .slick-list {margin-bottom:100px;}



.archives_area {margin:0px 0 60px 0;  }
.archives_area .select_box {width:50%; margin:0 auto;}
    .archives_area .select_box .inner_title {width:40%; padding-top:5px;}
    .archives_area .select_box .inner_title h2 {
   font-size:25px;
   margin:0;
   text-align: right;
   padding-right: 10px;
   }
.archives_area .bootstrap-select.form-control:not([class*=col-]) {
width:30%!important;}
.archives_area .select_box .btn-default:hover, .btn-default:focus {border:1px solid #fff; background:none;}
.archives_area .select_box .btn {font-size:16px; padding:5px 12px;}
.archives_area .select_box .dropdown-menu {border-radius: 0px;}

.output {width:100%; margin:0 auto;}
.select_box_content {width:100%; margin:40px auto 0 auto; display:none;}
.select_box_content .inner_title {
    margin-bottom: 28px;
}
.select_box_content .inner_title h2 {font-size:16px; font-weight:700; margin:0; }
.select_box_content ul {width:100%; display:table; margin:0;}
.select_box_content ul li {width:100%; display:block; font-size:14px; margin-bottom:20px; padding-left:20px}
.select_box_content ul li:last-child {margin-bottom:0;}
.select_box_content ul li a:hover { color:#0d1740;}
.select_box_content ul li i {margin:0 7px 0 -20px; font-weight:700; font-size:16px; display:inline-block;}
.select_box_content .inner_title {margin-bottom:28px;}
.select_box_content .inner_title h2 {font-size:16px; font-weight:700; margin:0;}

/*.archives_wrp {margin-bottom:50px; position:relative;}

.archives_area .inner_title span {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom:40px;
    display:inherit;
    text-align:center;
    font-weight:500;
}
.archives_wrp .slick-arrow {width:50px; height:50px; z-index:1;}
.archives_wrp .slick-prev {left:50%; top:auto;bottom:-100px; margin-left:-50px; background:url(../images/share_holding_prev.png) no-repeat center; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.archives_wrp .slick-prev:after {position:absolute; right:0; top:0; width:1px; height:100%; background:#e0e0e0;}
.archives_wrp .slick-prev:hover {background:url(../images/share_holding_prev_hvr.png) no-repeat center; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.archives_wrp .slick-next {right:50%; top:auto; bottom:-100px; margin-right:-50px; background:url(../images/share_holding_next.png) no-repeat center; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.archives_wrp .slick-next:hover {background:url(../images/share_holding_next_hvr.png) no-repeat center;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.archives_wrp .archives_content {border-right:1px solid #e0e0e0; padding:0 10px;}
.archives_wrp .archives_content ul {width:100%; display:table; margin:0;}
.archives_wrp .archives_content ul li {width:100%; display:block; font-size:14px; margin-bottom:20px; padding-left:20px}
.archives_wrp .archives_content ul li:last-child {margin-bottom:0;}
.archives_wrp .archives_content ul li a:hover { color:#0d1740;}
.archives_wrp .archives_content ul li i {margin:0 7px 0 -20px; font-weight:700; font-size:16px; display:inline-block;}
.archives_wrp .archives_content .inner_title {margin-bottom:28px;}
.archives_wrp .archives_content .inner_title h2 {font-size:16px; font-weight:700; margin:0; }*/

.media_center_wrp {margin-bottom:65px; }
.media_center_wrp .inner_title {margin-bottom:15px;}
.media_center_wrp .inner_title h1 {margin-bottom:40px; font-size:25px; padding:0 15px;}
.media_center_wrp .inner_title h2 {padding:0 15px; font-size:16px; margin:0;}
.media_center_slider_wrp {position:relative; margin-bottom:80px;}
.media_center_slider_wrp .slick-arrow {width:30px;}
.media_center_slider_wrp .slick-prev {top:auto; left:auto; right:65px; bottom:-35px; background:url(../images/media_prev.png) no-repeat center;}
.media_center_slider_wrp .slick-next {top:auto; right:15px; bottom:-35px; background:url(../images/media_next.png) no-repeat center;}
.media_center_slider_wrp .media_center_slider_content {width:100%; margin:0 auto; border-radius:5px; padding:0 15px;}
.media_center_slider_wrp .media_center_slider_content img { border:1px solid #e3e2e2;}

.events_news_wrp {margin-bottom:120px;}
.events_news_wrp .inner_title h2 {padding:0;}
.events_news_wrp .events_wrp {}
.events_news_wrp .events_wrp .events_slider {position:relative;}
.events_news_wrp .events_wrp .events_slider .slick-arrow {width:30px; z-index:1;}
.events_news_wrp .events_wrp .events_slider .slick-prev {top:auto; left:49%; right:0; margin-left:-30px; bottom:-35px; background:url(../images/media_prev.png) no-repeat center;}
.events_news_wrp .events_wrp .events_slider .slick-next {top:auto; right:49%; bottom:-35px; margin-right:-30px; background:url(../images/media_next.png) no-repeat center;}
.events_news_wrp .news_wrp {padding-left:55px;}
.events_news_wrp .news_wrp .news_flash_wrap {margin:0; height:auto; max-height:390px;}
.events_news_wrp .news_wrp .news_flash_wrap li {line-height:25px; border-bottom:1px solid #e0e0e0; background:url(../images/news_icon.png) no-repeat 15px 15px; padding:10px 40px; -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;}
.events_news_wrp .news_wrp .news_flash_wrap li:last-child {border-bottom:0;} 
.events_news_wrp .news_wrp .news_flash_wrap li:hover {background-color:#e0e0e0;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}

.map_wrp:before {display:none;}
.contact_wrp {margin-bottom:75px;}
.contact_wrp .inner_title {margin-bottom:20px; color:#001642;}
.contact_wrp .inner_title h1{font-size:22px;}
.contact_wrp .contact_left {padding-right:40px; }
.contact_wrp .contact_left p {line-height:30px; font-size:15px;}
.contact_wrp .contact_left p sPAN {font-weight:500;}
.contact_wrp .contact_left .toll_free {font-size:18px; margin-top:30px; background:#0d1740; color:#fff; padding:10px 40px; display:inline-block;} 
.contact_wrp .contact_left .toll_free sPAN {font-weight:500; display:inline-block; margin-right:20px;}
.contact_wrp .contact_right {padding-left:45px; border-left:1px solid #e0e0e0; }
.contact_wrp .contact_right form .form-group .form-control {border-radius:3px; height:40px;  border:1px solid #eee; box-shadow:none; color:#878787; background:#fff;}

.contact_wrp .contact_right form .email {padding-left:0;}
.contact_wrp .contact_right form .form-group {padding-left:10px; padding-right:10px;}
.contact_wrp .contact_right form .form-group textarea {height:65px!important;}
.contact_wrp .contact_right form .form-group .form-control::-webkit-input-placeholder {color:#878787;}
.contact_wrp .contact_right form .form-group .form-control::-moz-placeholder {color:#878787;}
.contact_wrp .contact_right form .form-group .form-control:-ms-input-placeholder {color:#878787;}
.contact_wrp .contact_right form .form-group .form-control:-moz-placeholder {color:#878787;}
.contact_wrp .contact_right form .form-group .btn-primary {border-radius:0; text-transform:uppercase; color:#fff; background:#0d1740; border:0;	width:88px; height:35px;}
.contact_wrp .contact_right form .form-group .btn-primary:hover {background:#fff200; color:#0d1740;}
.contact_wrp .contact_right form .form-group .bootstrap-select .btn {height:100%; color:#878787; font-size:14px;}
.contact_wrp .contact_right form .form-group .bootstrap-select .dropdown-menu>li>a {color:#878787; }
.contact_wrp .contact_right form .form-group .bootstrap-select .btn:hover {background:inherit; border:1px solid transparent;}
.investor_content_wrp {padding:20px;}
.investor_content_wrp h1 {font-size:20px; line-height:30px; color:#0d1740;}
.investor_content_wrp h2 {font-size:16px;}
.investor_content_wrp p {line-height:30px;}
.investor_content_wrp:hover {-webkit-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.18); -moz-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.18); box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.18);}
.investor_content_wrp a:hover {color:#0d1740; font-weight:bold;}


.movement_details .inner_page_title {margin-bottom:30px;}
.movement_details .inner_page_title h2 {font-size:18px; font-weight:500; text-transform:uppercase; margin:0;  color:#0d1740;}
.movement_details .table {font-weight:500;}
.movement_details .table th{background:#e2e2e2; width:25%; text-align:center; border:5px solid #fff; padding:20px;}
.movement_details .table tr td {background:#f7f7f7; padding:20px; border:5px solid #fff;}

.invoice_value .inner_page_title {margin-bottom:30px;}
.invoice_value .inner_page_title h2 {font-size:18px; font-weight:500; text-transform:uppercase; margin:0; color:#0d1740;}
.invoice_value .table {font-weight:500; margin-bottom:30px;}
.invoice_value .table th{width:20%; text-align:left; /*border:5px solid #fff;*/ /*padding:20px;*/  border:0; background:#f7f7f7; padding:15px 0 15px 20px;}
.invoice_value .table tr td { /*padding:20px;*/ /*border:5px solid #fff;*/  padding:15px 0 15px 20px; border:0;}
.invoice_value .table tr {border:1px solid #e3e3e3;}

.track_wrp {padding:70px;}
.track_wrp h1 {font-size:25px; margin-bottom:20px; color:#0d1740;}
.box_border {border:1px solid #e3e3e3; border-bottom:0; margin-bottom:35px; display:table;}
.box_border_btm {border-bottom:1px solid #e3e3e3;}
.track_row {border-bottom:1px solid #f7f7f7; padding-top:15px; padding-bottom:15px;}
.track_row_grey_bg {background:#f7f7f7;}
.track_row table {width:100%;}
.track_row table tr td {position:relative;}
.track_row table tr td:first-child {color:#0d1740; font-weight:500; width:150px;}
.track_row table tr td:last-child {padding-left:10px;}
.track_row table tr td:first-child:after {content:':'; position:absolute; right:0;}

.inner_box {width:98%;}
.inner_box .track_row {border-bottom:1px solid #e3e3e3;}
.blue_bg {background:#0d1740; color:#fff;}
.blue_bg table tr td:first-child {color:#fff;}
.blank:after {display:none;}

.blue_banner {
background:#0d1740; color:#fff; padding:20px; font-size:25px; margin:20px 0;}

.search_result {margin-bottom:30px;}
.search_result li {line-height:25px; border-bottom:1px solid #e0e0e0; background:url(../images/news_icon.png) no-repeat 15px 15px; padding:10px 40px; -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;}
.search_result li:last-child {border-bottom:0;} 
.search_result li:hover {background-color:#e0e0e0;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}
.search_hd {
color:#0d1740; font-weight:500;}

.disclaimer_wrp p {margin-bottom:25px; line-height:22px; text-align:justify;}


@media all and (max-width:1002px) {
    .blue_banner {
    margin-top:100px; padding:10px; font-size:18px;}
}

/*.kalpesh .office_address_txt {min-height:480px;}*/

.lodehide{/*display:none;*/}

@media all and (max-width:1260px)
{
.board_commities_wrp .tab-content .bod_slider .bod_slider_content .bod_pic {width:200px; height:200px;}	
.share_holding_pattern_wrp .share_holding_pattern_content {text-align:center;}
.share_holding_pattern_wrp .share_holding_pattern_content ul li {font-size:13px;}

.archives_wrp .archives_content {text-align:center;}
.archives_wrp .archives_content ul li {font-size:13px;}
}

.events_slider_content{ position:relative;} 
.events_slider_content .youtube_button{ position: absolute; width:50px; height:35px; top:0; bottom:0; left:0; right:0; margin: auto;}
.events_slider_content .youtube_button img{ vertical-align:middle;}

@media all and (max-width:1050px)
{
.current_opening_wrp .co_tab_wrp .co_tab_head {padding:0 15px;}
.current_opening_wrp .co_tab_wrp .co_tab_head ul li {padding:0 30px;}
}

@media all and (max-width:1024px)
{
.inner_banner_wrp {margin-bottom:50px;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt h1 {font-size:35px;}

.vmv_wrp {margin-bottom:50px;}
}

@media all and (max-width:991px)
{
.inner_banner_wrp {margin-bottom:30px; height:250px;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt h1 {font-size:30px;}

.break {display:inline;}
.welcome_wrp .title {margin-bottom:20px;}
.welcome_wrp .title:before {left:385px;}
.welcome_wrp .welcome_wrp_left {/* padding:20px; *//*margin: 0 -15px;*/}

.welcome_wrp .welcome_wrp_right {padding-left:0; margin-top:20px;}

.inner_title {margin-bottom:20px;}
.chairman_msg {margin-bottom:85px;}
.chairman_msg .chairman_white_circle {margin-top:0; margin-bottom:30px; width:250px; height:250px;}
.chairman_msg .chairman_white_circle:before {display:none;}
.chairman_msg .chairman_white_circle:after {display:none;}
.chairman_msg .chairman_txt h1 {text-align:center;}

.vmv_wrp {margin-bottom:30px;}

.tabs_wrapper  ul.tabs {display:none;}
.tab_content {border:1px solid #eee;}
.tab_container {display:block; margin:0 auto; width:95%; border-top:none; border-radius:0;}
.tab_drawer_heading {background-color:#f4f4f4; color:#18374c; margin:0; padding:0 0 0 20px; display:block; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none;
-khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; text-align:left; height:40px; line-height:40px; border:1px solid #eee; margin:10px 0 0 0; font-size:16px; position:relative;}
.tab_drawer_heading:before {width:20px;height:20px;position:absolute;right: 15px;top:25%;background: #fff;border: 1px solid #fff;border-radius:100%;}
.tab_drawer_heading:after {width:12px;height:12px;position:absolute;right: 19px;top:34%;background:#d9d9d9;border-radius:100%;}
.d_active:before {background:#fff;}
.d_active:after {background:#18374c;}
.d_active {background:#feed01; color:#000;}
.verticle_tab_wrp {padding-bottom:0;}
.verticle_tab_pic:before {display:none;}
.verticle_tab_pic:after {display:none;}
.verticle_tab_pic {width:250px; height:250px; margin-bottom:20px;}
.verticle_tab_content .title {margin-bottom:20px; text-align:center;}
.verticle_tab_content .title h2 {display:none;}
.verticle_tab_content p {text-align:center;}
.board_commities_wrp .tab-content .coc_slider {padding:30px 0;}

.quality_policy_pic_wrp {padding:0; margin-bottom:20px;}
.quality_policy_txt_wrp {padding:0;}

.board_commities_wrp .nav-tabs {width:98%; margin:-25px auto 0 auto;}
.board_commities_wrp .nav-tabs li a {padding:0 20px;}
.board_commities_wrp .tab-content .bod_slider .bod_slider_content .bod_pic {width:230px; height:230px;}	

.ptw_wrp {margin-bottom:50px;}
.ptw_wrp .title {margin-left:-15px;}
.ptw_wrp .policy_wrp {margin:0 -15px 40px -15px; height:auto; padding:0 20px;}
.ptw_wrp .testimonial_wrp {margin:0 -15px 40px -15px; height:auto;}
.ptw_wrp .testimonial_wrp a {position:relative; left:inherit; bottom:inherit; margin-top:25px; display:block;}
.ptw_wrp .why_us_wrp {margin:0 -15px; height:auto;}

.scrollbox {padding-right:0!important;}

.wh_wrp {padding:30px 0;}

.carrers_wrp .inner_title {margin-bottom:20px;}
.current_opening_wrp .co_tab_wrp .co_tab_content {padding:20px;}

.services_wrp .inner_title {margin-bottom:20px;}
.services_wrp .inner_title h1 {font-size:22px;}

.contact_wrp {margin-bottom:50px;}
.contact_wrp .contact_left {padding-right:20px;}
.contact_wrp .contact_right {padding-left:20px;}

.offices_wrp .regional {font-size:20px;}

.track_row {border:0;}
.track_wrp .inner_title h1{font-size:20px;}
.track_wrp {padding:30px 15px;}

.archive_area .bootstrap-select.form-control:not([class*=col-]) {
width:40%!important;}
}

@media all and (max-width:860px)
{
.current_opening_wrp .co_tab_wrp .co_tab_head ul li {padding:0 15px;}
	
}

@media all and (max-width:767px)
{

    
    .office_address_txt {height:auto;border-right: 0;border-bottom: 1px solid #e0e0e0; padding:15px 0; margin-bottom:0;}
    office_address_txt:hover {
    box-shadow:none;}
    .office_address_txt:last-child {border-bottom:none;}
    .kalpesh .office_address_txt {min-height:auto;}
    
p {text-align:justify;}	
.inner_banner_wrp {height:150px;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt h1 {font-size:18px;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt .breadcrumb li a {font-size:14px;}
.title h1 {font-size:18px;}

.break {display:block;}
.welcome_wrp .title:before {left:95px; top:8px; height:10px;}
.welcome_wrp .welcome_wrp_left {/* padding:10px; */}
.welcome_wrp p {text-align:justify;}

.chairman_msg:before {width:35px; height:35px;}
.chairman_msg .chairman_txt h1 {font-size:20px;}

.vmv_wrp .vmv_wrp_content {min-height:inherit; margin-bottom:70px;}
.vmv_wrp .vmv_wrp_content:last-child {margin-bottom:0;}

.board_commities_wrp .tab-content .coc_slider_content .title h1 {font-size:16px;}

.ptw_wrp .policy_wrp:before {width:50px; height:50px; top:-25px;}
.ptw_wrp .policy_wrp .scrollbox li {padding:15px 0 15px 50px;}
.ptw_wrp .testimonial_wrp:before  {width:50px; height:50px; top:-25px;}
.ptw_wrp .why_us_wrp:before {width:50px; height:50px; top:-25px;}

.wh_wrp p {margin-bottom:15px;}

.location_wrp .inner_title h1 {font-size:18px;}
.location_wrp .head_off_address p {font-size:14px;}
.map_wrp {height:250px;}

.carrers_wrp .inner_title {margin:0 -15px 20px -15px;}
.carrers_wrp .join_team_wrp {margin-top:20px; min-height:auto; padding:20px 20px 40px 20px;}
.carrers_wrp .join_team_wrp p {font-size:14px;}
.carrers_wrp .why_work_wrp {margin:0 -15px;}
.carrers_wrp .why_work_wrp p {margin-bottom:15px;}
.carrers_wrp .inner_title h1 {font-size:18px;}
.carrers_wrp .why_work_wrp h2 {margin-bottom:15px;}
.carrers_wrp .join_team_wrp a {width:auto; padding:0 15px; font-size:14px;}
#apply_form .inner_title h2 {font-size:18px;}
.current_opening_wrp .co_tab_wrp .co_tab_head {padding:0 20px;}
.current_opening_wrp .co_tab_wrp .co_tab_head ul li {font-size:14px; width:50%; padding:0; margin:5px 0;}
.current_opening_wrp .co_tab_wrp .co_tab_head ul li i {font-size:18px; line-height:30px;}
.current_opening_wrp .co_tab_wrp .co_tab_content table tr td:first-child {width:100%; display:block;}

.services_wrp .inner_title {padding:0;}
.services_wrp .inner_title h1 {font-size:18px;}
/*.services_wrp_left {padding:0;}*/
.services_wrp_right {padding:30px 15px 0 15px; border-top:1px solid #e0e0e0; border-left:0; margin-top:30px;}
.services_wrp_right .nav-tabs li {font-size:16px;}

.media_center_wrp .inner_title h1 {font-size:18px; margin-bottom:20px;}
.media_center_slider_wrp {margin-bottom:70px;}
.media_center_slider_wrp .slick-prev {left:49%; margin-left:-30px;}
.media_center_slider_wrp .slick-next {right:49%; margin-right:-30px;}
.events_news_wrp {margin-bottom:50px;}
.events_news_wrp .events_wrp {margin-bottom:70px;}
.events_news_wrp .news_wrp {padding-left:0;}
.events_news_wrp .news_wrp .news_flash_wrap {max-height:inherit;}

.contact_wrp .contact_left {padding-bottom:20px; margin:0 -15px; }
.contact_wrp .contact_right {padding:0; padding-top:20px; border-left:0; border-top:1px solid #e0e0e0;}
.contact_wrp .contact_right form .email {padding-left:15px;}
.contact_wrp .contact_right .form-control {height:45px;}
.contact_wrp .contact_left .toll_free {margin-top:10px; font-size:18px;}
.contact_wrp .contact_left .toll_free sPAN {margin-right:5px;}

.offices_wrp .zone_address_wrp .office_address_txt {border-right:none; border-bottom:1px solid #e0e0e0;	padding:10px;}
.offices_wrp .zone_address_wrp .office_address_txt:last-child {border-bottom:0;}
.offices_wrp .regional {width: auto;margin-bottom:20px;font-size:18px;padding-right: 40px;}
.offices_wrp .regional:after {top:3px;}
.offices_wrp .nav-tabs {width:100%;}

.pobc_wrp .zone_address_wrp .office_address_txt {border-right:none; border-bottom:1px solid #e0e0e0;}
.pobc_wrp .zone_address_wrp .office_address_txt:last-child {border:none;}
.pobc_wrp .regional {width: auto;margin-bottom:20px;font-size:18px;padding-right: 40px;}
.pobc_wrp .regional:after {top:3px;}
.pobc_wrp .nav-tabs {width:100%;}

.regional_wrp_head .regional_wrp_head_txt {width:100%;}
.regional_wrp_head .regional_wrp_head_txt h2 {font-size:18px; text-align:center; margin-bottom:20px;}
.regional_wrp_head .address_search {width:50%; margin:0 auto; float:none!important;}
.regional_wrp_head .address_search span {right:25%; top:40px;}

.investor_content_wrp h1 {font-size:16px;}


.patel_roadways_address_wrp .tab__content > li .content__wrapper .office_address_txt {border-bottom:1px solid #ddd; border-right:0;}

.inner_box {width:100%;}
.track_row {padding-top:10px; padding-bottom:10px;}


    .share_holding_pattern_wrp {
        padding-bottom:30px;
        margin-bottom:30px;

    }
    .archives_area .inner_title span {margin-bottom:30px;
    }
    
    .archives_area .select_box {width:50%;}

        .archives_area .select_box .inner_title h2 {
        font-size:18px; padding-top:5px;}
}

@media all and (max-width:600px)
{
.current_opening_wrp .co_tab_wrp .co_tab_head ul li { width:100%;}

.track_wrp .inner_title h1{font-size:18px;} 

.offices_wrp .nav-tabs li a:hover:after {display:none!important;}

.movement_details .tabel {border:0;}
.movement_details .table caption {font-size:1.3em;}
.movement_details .table thead {border:none; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;}
.movement_details .table tr th {display:none;}
.movement_details .table tr {border-bottom:3px solid #0d1740; display:block; margin-bottom:20px;}
.movement_details .table tr:first-child {border:0; margin:0;}
.movement_details .table td {border-bottom:1px solid #ddd; display:block; font-size:.8em; text-align:left; padding:15px!important;}
.movement_details .table td:before {content: attr(data-label); float:left; font-weight:bold; text-transform:uppercase; width:50%;}
.movement_details .table td:last-child {border-bottom:0;}


.invoice_value .tabel {border:0;}
.invoice_value .table caption {font-size:1.3em;}
.invoice_value .table thead {border:none; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;}
.invoice_value .table tr th {display:none;}
.invoice_value .table tr {border-bottom:1px solid #ddd; display:block; margin-bottom:0;}
.invoice_value .table tr:first-child {border:0;}
.invoice_value .table td {border-bottom:1px solid #ddd; display:block; font-size:.8em; text-align:left; padding:15px; }
.invoice_value .table td:before {content: attr(data-label); float:left; font-weight:bold; text-transform:uppercase; width:50%;}
.invoice_value .table td:last-child {border-bottom:0;}
.movement_details .table tr td {border-bottom:5px solid #fff; border-left:0; border-top:0; border-right:0;}

    .archives_area .bootstrap-select.form-control:not([class*=col-]) {
    width:50%!important;}
}
@media all and (max-width:531px)
{
/*.share_holding_pattern_wrp {margin-bottom:100px;}*/
.share_holding_pattern_wrp .share_holding_pattern_content {min-height:auto; border:0;}
.share_holding_pattern_wrp .slick-arrow {background-color:#eee!important; width:40px; height:40px;}
.share_holding_pattern_wrp .slick-prev {top:50%; bottom:0; left:0; margin-left:0;}
.share_holding_pattern_wrp .slick-prev:after {display:none;}
.share_holding_pattern_wrp .slick-next {top:50%; right:0; bottom:0; margin-right:0;}

    .archives_area {
        margin-bottom:50px;
        /*margin-top:30px;*/
    }
.archives_wrp {margin-bottom:0;}
.archives_wrp .archives_content {min-height:auto; border:0;}
.archives_wrp .slick-arrow {background-color:#aaaaaa!important; width:40px; height:40px;}
.archives_wrp .slick-prev {top:50%; bottom:0; left:0; margin-left:0;}
.archives_wrp .slick-prev:after {display:none;}
.archives_wrp .slick-next {top:50%; right:0; bottom:0; margin-right:0;}

    .archives_area .select_box .inner_title {
    width:100%; }
        .archives_area .select_box .inner_title h2 {
        text-align:center;}
    .archives_area .bootstrap-select.form-control:not([class*=col-]) {
    margin:0 auto!important; float:none!important; width:100%!important;}

    .share_holding_pattern_wrp.slick-slider .slick-arrow + .slick-list {
    margin-bottom:0;}
}

@media all and (max-width:500px)
{
.inner_banner_wrp {height:130px;}
.inner_banner_wrp .inner_page_title .inner_page_title_txt h1 {font-size:16px;}

.chairman_msg .chairman_txt h1 {font-size:18px;}

.quality_policy_wrp .title h1 {font-size:18px;}

.board_commities_wrp .nav-tabs li {width:50%; line-height:inherit; height:auto; float:none;}
.board_commities_wrp .nav-tabs li a {font-size:14px; line-height:inherit; padding:10px 0; height:auto;}

.map_wrp {height:250px;}

.current_opening_wrp .co_tab_wrp .co_tab_content table tr td {width:100%; display:block;}

.current_opening_wrp .co_tab_wrp .co_tab_content table td:first-child:before {display:none;}
.current_opening_wrp .co_tab_wrp .co_tab_content table td:last-child {padding-left:0; margin-bottom:10px;}
.current_opening_wrp .co_tab_wrp .co_tab_content table td {padding:3px 0;}
.current_opening_wrp .co_tab_wrp .co_tab_head ul li {width:95%; padding:0;}

.regional_wrp_head .address_search {width:70%;}
.regional_wrp_head .address_search sPAN {right:15%;}
}

@media all and (max-width:462px)
{
.offices_wrp .nav-tabs li:before {top:-60px;}

.patel_roadways_address_wrp .tabs > li:before {top:-50px;}
}

@media all and (max-width:360px)
{
.services_wrp_right .nav-tabs li {margin-right:15px; padding-right:15px; font-size:13px;}
}

.hope_mail
  {  background: #fff;
   display:block;
  font-size:12px;
  font-weight:bold;
    text-align: center;
    padding: 5px;
    color: #001642; text-transform:uppercase;}

    
 .hope_mail:hover{color:#001642!important; background: #fff200;}
 
 .sitemap_wrp {margin-bottom:30px;}
.sitemap_wrp h2 {font-size:16px; text-transform:uppercase;}
.sitemap_wrp ul li {position:relative;}
.sitemap_wrp ul li a {text-transform:capitalize; padding:15px 0; display:block; border-bottom:1px solid #ddd; }
.sitemap_wrp ul li a i {position:absolute; top:18px; right:15px;}
.sitemap_wrp ul li a:hover {color:#0d173f; padding-left:3px;}
.sitemap_wrp ul li ul {padding-left:15px; display:none;}
.sitemap_wrp ul li ul li {background:none; padding-left:15px;}
.sitemap_wrp ul li ul li a {border:0; padding:8px 0;}
.sitemap_wrp ul li ul li:after {content:"-"; position:absolute; top:10px; left:0; color:#000;}
       
.iepf_head {font-family: 'aharonibold'; font-weight:normal;}
.iepf_head span {display:inline-block; font-family:"Roboto", sans-serif;}
.iepf_wrp {padding-top:30px; padding-bottom:50px;}
.iepf_wrp h1 {font-family: 'aharonibold'; font-size:16px;margin-bottom:15px;line-height:22px;border-left: 3px solid #969696;padding: 10px;background: #f1f1f1;color: #969696; text-transform:uppercase;}
.iepf_wrp p {margin-bottom:15px;}
.iepf_wrp p a {display:inline-block; text-decoration:underline;} 
.pdf_attached_wrp {margin-top:30px;}
.iepf_pdf_box {padding-left:30px; display:inline-block; position:relative; margin-bottom:20px;} 
.iepf_pdf_box i {font-size:25px; vertical-align:middle; display:inline-block; color:#da251c; position:absolute; top:0; left:0; }

